/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package me.calebjones.spacelaunchnow.api.apis

import me.calebjones.spacelaunchnow.api.models.CelestialBodyEndpointDetailed
import me.calebjones.spacelaunchnow.api.models.PaginatedCelestialBodyEndpointDetailedList
import me.calebjones.spacelaunchnow.api.models.PaginatedCelestialBodyMiniList
import me.calebjones.spacelaunchnow.api.models.PaginatedCelestialBodyNormalList

import me.calebjones.spacelaunchnow.api.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class CelestialBodiesApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * 
     * #### Search Fields searched - &#x60;name&#x60;, &#x60;type__name&#x60;  Example - [/celestial_bodies/detailed/?search&#x3D;Mars](./?search&#x3D;Mars)  #### Ordering Fields - &#x60;id&#x60;, &#x60;name&#x60;  Example - [/celestial_bodies/detailed/?ordering&#x3D;-name](./?ordering&#x3D;-name)  #### Number of results Use &#x60;limit&#x60; to control the number of objects in the response (max 100)  Example - [/celestial_bodies/detailed/?limit&#x3D;2](./?limit&#x3D;2)  #### Format Switch to JSON output - [/celestial_bodies/detailed/?format&#x3D;json](./?format&#x3D;json)  #### Help Find all the FAQs and support links on the documentation homepage - [spacelaunchnow.app/docs](https://spacelaunchnow.app/docs/)
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param ordering Which field to use when ordering the results. (optional)
     * @param search A search term. (optional)
     * @return PaginatedCelestialBodyEndpointDetailedList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun celestialBodiesDetailedList(limit: kotlin.Int? = null, offset: kotlin.Int? = null, ordering: kotlin.String? = null, search: kotlin.String? = null): HttpResponse<PaginatedCelestialBodyEndpointDetailedList> {

        val localVariableAuthNames = listOf<String>("basicAuth", "tokenAuth", "cookieAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        ordering?.apply { localVariableQuery["ordering"] = listOf("$ordering") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/ll/2.4.0/celestial_bodies/detailed/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * #### Search Fields searched - &#x60;name&#x60;, &#x60;type__name&#x60;  Example - [/celestial_bodies/?search&#x3D;Mars](./?search&#x3D;Mars)  #### Ordering Fields - &#x60;id&#x60;, &#x60;name&#x60;  Example - [/celestial_bodies/?ordering&#x3D;-name](./?ordering&#x3D;-name)  #### Number of results Use &#x60;limit&#x60; to control the number of objects in the response (max 100)  Example - [/celestial_bodies/?limit&#x3D;2](./?limit&#x3D;2)  #### Format Switch to JSON output - [/celestial_bodies/?format&#x3D;json](./?format&#x3D;json)  #### Help Find all the FAQs and support links on the documentation homepage - [spacelaunchnow.app/docs](https://spacelaunchnow.app/docs/)
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param ordering Which field to use when ordering the results. (optional)
     * @param search A search term. (optional)
     * @return PaginatedCelestialBodyNormalList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun celestialBodiesList(limit: kotlin.Int? = null, offset: kotlin.Int? = null, ordering: kotlin.String? = null, search: kotlin.String? = null): HttpResponse<PaginatedCelestialBodyNormalList> {

        val localVariableAuthNames = listOf<String>("basicAuth", "tokenAuth", "cookieAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        ordering?.apply { localVariableQuery["ordering"] = listOf("$ordering") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/ll/2.4.0/celestial_bodies/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * #### Search Fields searched - &#x60;name&#x60;, &#x60;type__name&#x60;  Example - [/celestial_bodies/mini/?search&#x3D;Mars](./?search&#x3D;Mars)  #### Ordering Fields - &#x60;id&#x60;, &#x60;name&#x60;  Example - [/celestial_bodies/mini/?ordering&#x3D;-name](./?ordering&#x3D;-name)  #### Number of results Use &#x60;limit&#x60; to control the number of objects in the response (max 100)  Example - [/celestial_bodies/mini/?limit&#x3D;2](./?limit&#x3D;2)  #### Format Switch to JSON output - [/celestial_bodies/mini/?format&#x3D;json](./?format&#x3D;json)  #### Help Find all the FAQs and support links on the documentation homepage - [spacelaunchnow.app/docs](https://spacelaunchnow.app/docs/)
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param ordering Which field to use when ordering the results. (optional)
     * @param search A search term. (optional)
     * @return PaginatedCelestialBodyMiniList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun celestialBodiesMiniList(limit: kotlin.Int? = null, offset: kotlin.Int? = null, ordering: kotlin.String? = null, search: kotlin.String? = null): HttpResponse<PaginatedCelestialBodyMiniList> {

        val localVariableAuthNames = listOf<String>("basicAuth", "tokenAuth", "cookieAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        ordering?.apply { localVariableQuery["ordering"] = listOf("$ordering") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/ll/2.4.0/celestial_bodies/mini/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * #### Search Fields searched - &#x60;name&#x60;, &#x60;type__name&#x60;  Example - [/celestial_bodies/?search&#x3D;Mars](./?search&#x3D;Mars)  #### Ordering Fields - &#x60;id&#x60;, &#x60;name&#x60;  Example - [/celestial_bodies/?ordering&#x3D;-name](./?ordering&#x3D;-name)  #### Number of results Use &#x60;limit&#x60; to control the number of objects in the response (max 100)  Example - [/celestial_bodies/?limit&#x3D;2](./?limit&#x3D;2)  #### Format Switch to JSON output - [/celestial_bodies/?format&#x3D;json](./?format&#x3D;json)  #### Help Find all the FAQs and support links on the documentation homepage - [spacelaunchnow.app/docs](https://spacelaunchnow.app/docs/)
     * @param id A unique integer value identifying this Celestial Body.
     * @return CelestialBodyEndpointDetailed
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun celestialBodiesRetrieve(id: kotlin.Int): HttpResponse<CelestialBodyEndpointDetailed> {

        val localVariableAuthNames = listOf<String>("basicAuth", "tokenAuth", "cookieAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/ll/2.4.0/celestial_bodies/{id}/".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
