/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package me.calebjones.spacelaunchnow.api.apis

import me.calebjones.spacelaunchnow.api.models.LocationSerializerWithPads
import me.calebjones.spacelaunchnow.api.models.PaginatedLocationDetailedList
import me.calebjones.spacelaunchnow.api.models.PaginatedLocationSerializerWithPadsList

import me.calebjones.spacelaunchnow.api.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class LocationsApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * 
     * #### Filters Parameters - &#x60;active&#x60;, &#x60;country_code&#x60;, &#x60;id&#x60;, &#x60;name&#x60;, &#x60;name__contains&#x60;, &#x60;total_landing_count&#x60;, &#x60;total_landing_count__gt&#x60;, &#x60;total_landing_count__gte&#x60;, &#x60;total_landing_count__lt&#x60;, &#x60;total_landing_count__lte&#x60;, &#x60;total_launch_count&#x60;, &#x60;total_launch_count__gt&#x60;, &#x60;total_launch_count__gte&#x60;, &#x60;total_launch_count__lt&#x60;, &#x60;total_launch_count__lte&#x60;  Example - [/locations/detailed/?country_code&#x3D;NZL](./?country_code&#x3D;NZL)  #### Search Fields searched - &#x60;country__alpha_3_code&#x60;, &#x60;name&#x60;  Example - [/locations/detailed/?search&#x3D;Cape Canaveral](./?search&#x3D;Cape Canaveral)  #### Ordering Fields - &#x60;total_landing_count&#x60;, &#x60;total_launch_count&#x60;  Example - [/locations/detailed/?ordering&#x3D;-total_launch_count](./?ordering&#x3D;-total_launch_count)  #### Number of results Use &#x60;limit&#x60; to control the number of objects in the response (max 100)  Example - [/locations/detailed/?limit&#x3D;2](./?limit&#x3D;2)  #### Format Switch to JSON output - [/locations/detailed/?format&#x3D;json](./?format&#x3D;json)  #### Help Find all the FAQs and support links on the documentation homepage - [spacelaunchnow.app/docs](https://spacelaunchnow.app/docs/)
     * @param active  (optional)
     * @param countryCode Country Code (optional)
     * @param id  (optional)
     * @param limit Number of results to return per page. (optional)
     * @param name  (optional)
     * @param nameContains  (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param ordering Which field to use when ordering the results. (optional)
     * @param search A search term. (optional)
     * @param totalLandingCount  (optional)
     * @param totalLandingCountGt  (optional)
     * @param totalLandingCountGte  (optional)
     * @param totalLandingCountLt  (optional)
     * @param totalLandingCountLte  (optional)
     * @param totalLaunchCount  (optional)
     * @param totalLaunchCountGt  (optional)
     * @param totalLaunchCountGte  (optional)
     * @param totalLaunchCountLt  (optional)
     * @param totalLaunchCountLte  (optional)
     * @return PaginatedLocationSerializerWithPadsList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun locationsDetailedList(active: kotlin.Boolean? = null, countryCode: kotlin.String? = null, id: kotlin.Int? = null, limit: kotlin.Int? = null, name: kotlin.String? = null, nameContains: kotlin.String? = null, offset: kotlin.Int? = null, ordering: kotlin.String? = null, search: kotlin.String? = null, totalLandingCount: kotlin.Int? = null, totalLandingCountGt: kotlin.Int? = null, totalLandingCountGte: kotlin.Int? = null, totalLandingCountLt: kotlin.Int? = null, totalLandingCountLte: kotlin.Int? = null, totalLaunchCount: kotlin.Int? = null, totalLaunchCountGt: kotlin.Int? = null, totalLaunchCountGte: kotlin.Int? = null, totalLaunchCountLt: kotlin.Int? = null, totalLaunchCountLte: kotlin.Int? = null): HttpResponse<PaginatedLocationSerializerWithPadsList> {

        val localVariableAuthNames = listOf<String>("basicAuth", "tokenAuth", "cookieAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        active?.apply { localVariableQuery["active"] = listOf("$active") }
        countryCode?.apply { localVariableQuery["country_code"] = listOf("$countryCode") }
        id?.apply { localVariableQuery["id"] = listOf("$id") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        name?.apply { localVariableQuery["name"] = listOf("$name") }
        nameContains?.apply { localVariableQuery["name__contains"] = listOf("$nameContains") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        ordering?.apply { localVariableQuery["ordering"] = listOf("$ordering") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        totalLandingCount?.apply { localVariableQuery["total_landing_count"] = listOf("$totalLandingCount") }
        totalLandingCountGt?.apply { localVariableQuery["total_landing_count__gt"] = listOf("$totalLandingCountGt") }
        totalLandingCountGte?.apply { localVariableQuery["total_landing_count__gte"] = listOf("$totalLandingCountGte") }
        totalLandingCountLt?.apply { localVariableQuery["total_landing_count__lt"] = listOf("$totalLandingCountLt") }
        totalLandingCountLte?.apply { localVariableQuery["total_landing_count__lte"] = listOf("$totalLandingCountLte") }
        totalLaunchCount?.apply { localVariableQuery["total_launch_count"] = listOf("$totalLaunchCount") }
        totalLaunchCountGt?.apply { localVariableQuery["total_launch_count__gt"] = listOf("$totalLaunchCountGt") }
        totalLaunchCountGte?.apply { localVariableQuery["total_launch_count__gte"] = listOf("$totalLaunchCountGte") }
        totalLaunchCountLt?.apply { localVariableQuery["total_launch_count__lt"] = listOf("$totalLaunchCountLt") }
        totalLaunchCountLte?.apply { localVariableQuery["total_launch_count__lte"] = listOf("$totalLaunchCountLte") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/ll/2.4.0/locations/detailed/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * #### Filters Parameters - &#x60;active&#x60;, &#x60;country_code&#x60;, &#x60;id&#x60;, &#x60;name&#x60;, &#x60;name__contains&#x60;, &#x60;total_landing_count&#x60;, &#x60;total_landing_count__gt&#x60;, &#x60;total_landing_count__gte&#x60;, &#x60;total_landing_count__lt&#x60;, &#x60;total_landing_count__lte&#x60;, &#x60;total_launch_count&#x60;, &#x60;total_launch_count__gt&#x60;, &#x60;total_launch_count__gte&#x60;, &#x60;total_launch_count__lt&#x60;, &#x60;total_launch_count__lte&#x60;  Example - [/locations/?country_code&#x3D;NZL](./?country_code&#x3D;NZL)  #### Search Fields searched - &#x60;country__alpha_3_code&#x60;, &#x60;name&#x60;  Example - [/locations/?search&#x3D;Cape Canaveral](./?search&#x3D;Cape Canaveral)  #### Ordering Fields - &#x60;total_landing_count&#x60;, &#x60;total_launch_count&#x60;  Example - [/locations/?ordering&#x3D;-total_launch_count](./?ordering&#x3D;-total_launch_count)  #### Number of results Use &#x60;limit&#x60; to control the number of objects in the response (max 100)  Example - [/locations/?limit&#x3D;2](./?limit&#x3D;2)  #### Format Switch to JSON output - [/locations/?format&#x3D;json](./?format&#x3D;json)  #### Help Find all the FAQs and support links on the documentation homepage - [spacelaunchnow.app/docs](https://spacelaunchnow.app/docs/)
     * @param active  (optional)
     * @param countryCode Country Code (optional)
     * @param id  (optional)
     * @param limit Number of results to return per page. (optional)
     * @param name  (optional)
     * @param nameContains  (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param ordering Which field to use when ordering the results. (optional)
     * @param search A search term. (optional)
     * @param totalLandingCount  (optional)
     * @param totalLandingCountGt  (optional)
     * @param totalLandingCountGte  (optional)
     * @param totalLandingCountLt  (optional)
     * @param totalLandingCountLte  (optional)
     * @param totalLaunchCount  (optional)
     * @param totalLaunchCountGt  (optional)
     * @param totalLaunchCountGte  (optional)
     * @param totalLaunchCountLt  (optional)
     * @param totalLaunchCountLte  (optional)
     * @return PaginatedLocationDetailedList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun locationsList(active: kotlin.Boolean? = null, countryCode: kotlin.String? = null, id: kotlin.Int? = null, limit: kotlin.Int? = null, name: kotlin.String? = null, nameContains: kotlin.String? = null, offset: kotlin.Int? = null, ordering: kotlin.String? = null, search: kotlin.String? = null, totalLandingCount: kotlin.Int? = null, totalLandingCountGt: kotlin.Int? = null, totalLandingCountGte: kotlin.Int? = null, totalLandingCountLt: kotlin.Int? = null, totalLandingCountLte: kotlin.Int? = null, totalLaunchCount: kotlin.Int? = null, totalLaunchCountGt: kotlin.Int? = null, totalLaunchCountGte: kotlin.Int? = null, totalLaunchCountLt: kotlin.Int? = null, totalLaunchCountLte: kotlin.Int? = null): HttpResponse<PaginatedLocationDetailedList> {

        val localVariableAuthNames = listOf<String>("basicAuth", "tokenAuth", "cookieAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        active?.apply { localVariableQuery["active"] = listOf("$active") }
        countryCode?.apply { localVariableQuery["country_code"] = listOf("$countryCode") }
        id?.apply { localVariableQuery["id"] = listOf("$id") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        name?.apply { localVariableQuery["name"] = listOf("$name") }
        nameContains?.apply { localVariableQuery["name__contains"] = listOf("$nameContains") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        ordering?.apply { localVariableQuery["ordering"] = listOf("$ordering") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        totalLandingCount?.apply { localVariableQuery["total_landing_count"] = listOf("$totalLandingCount") }
        totalLandingCountGt?.apply { localVariableQuery["total_landing_count__gt"] = listOf("$totalLandingCountGt") }
        totalLandingCountGte?.apply { localVariableQuery["total_landing_count__gte"] = listOf("$totalLandingCountGte") }
        totalLandingCountLt?.apply { localVariableQuery["total_landing_count__lt"] = listOf("$totalLandingCountLt") }
        totalLandingCountLte?.apply { localVariableQuery["total_landing_count__lte"] = listOf("$totalLandingCountLte") }
        totalLaunchCount?.apply { localVariableQuery["total_launch_count"] = listOf("$totalLaunchCount") }
        totalLaunchCountGt?.apply { localVariableQuery["total_launch_count__gt"] = listOf("$totalLaunchCountGt") }
        totalLaunchCountGte?.apply { localVariableQuery["total_launch_count__gte"] = listOf("$totalLaunchCountGte") }
        totalLaunchCountLt?.apply { localVariableQuery["total_launch_count__lt"] = listOf("$totalLaunchCountLt") }
        totalLaunchCountLte?.apply { localVariableQuery["total_launch_count__lte"] = listOf("$totalLaunchCountLte") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/ll/2.4.0/locations/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * #### Filters Parameters - &#x60;active&#x60;, &#x60;country_code&#x60;, &#x60;id&#x60;, &#x60;name&#x60;, &#x60;name__contains&#x60;, &#x60;total_landing_count&#x60;, &#x60;total_landing_count__gt&#x60;, &#x60;total_landing_count__gte&#x60;, &#x60;total_landing_count__lt&#x60;, &#x60;total_landing_count__lte&#x60;, &#x60;total_launch_count&#x60;, &#x60;total_launch_count__gt&#x60;, &#x60;total_launch_count__gte&#x60;, &#x60;total_launch_count__lt&#x60;, &#x60;total_launch_count__lte&#x60;  Example - [/locations/?country_code&#x3D;NZL](./?country_code&#x3D;NZL)  #### Search Fields searched - &#x60;country__alpha_3_code&#x60;, &#x60;name&#x60;  Example - [/locations/?search&#x3D;Cape Canaveral](./?search&#x3D;Cape Canaveral)  #### Ordering Fields - &#x60;total_landing_count&#x60;, &#x60;total_launch_count&#x60;  Example - [/locations/?ordering&#x3D;-total_launch_count](./?ordering&#x3D;-total_launch_count)  #### Number of results Use &#x60;limit&#x60; to control the number of objects in the response (max 100)  Example - [/locations/?limit&#x3D;2](./?limit&#x3D;2)  #### Format Switch to JSON output - [/locations/?format&#x3D;json](./?format&#x3D;json)  #### Help Find all the FAQs and support links on the documentation homepage - [spacelaunchnow.app/docs](https://spacelaunchnow.app/docs/)
     * @param id A unique integer value identifying this Location.
     * @return LocationSerializerWithPads
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun locationsRetrieve(id: kotlin.Int): HttpResponse<LocationSerializerWithPads> {

        val localVariableAuthNames = listOf<String>("basicAuth", "tokenAuth", "cookieAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/ll/2.4.0/locations/{id}/".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
