/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package me.calebjones.spacelaunchnow.api.apis

import me.calebjones.spacelaunchnow.api.models.PaginatedSpaceStationDetailedEndpointList
import me.calebjones.spacelaunchnow.api.models.PaginatedSpaceStationEndpointList
import me.calebjones.spacelaunchnow.api.models.SpaceStationDetailedEndpoint

import me.calebjones.spacelaunchnow.api.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class SpaceStationsApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * 
     * #### Filters Parameters - &#x60;docked_vehicles&#x60;, &#x60;docked_vehicles__gt&#x60;, &#x60;docked_vehicles__gte&#x60;, &#x60;docked_vehicles__lt&#x60;, &#x60;docked_vehicles__lte&#x60;, &#x60;id&#x60;, &#x60;name&#x60;, &#x60;name__contains&#x60;, &#x60;onboard_crew&#x60;, &#x60;onboard_crew__gt&#x60;, &#x60;onboard_crew__gte&#x60;, &#x60;onboard_crew__lt&#x60;, &#x60;onboard_crew__lte&#x60;, &#x60;orbit&#x60;, &#x60;owner__ids&#x60;, &#x60;owners&#x60;, &#x60;status&#x60;, &#x60;status__ids&#x60;, &#x60;type&#x60;  Example - [/space_stations/detailed/?onboard_crew__gte&#x3D;1](./?onboard_crew__gte&#x3D;1)  #### Search Fields searched - &#x60;name&#x60;, &#x60;owners__abbrev&#x60;, &#x60;owners__name&#x60;  Example - [/space_stations/detailed/?search&#x3D;Salyut](./?search&#x3D;Salyut)  #### Ordering Fields - &#x60;docked_vehicles&#x60;, &#x60;founded&#x60;, &#x60;id&#x60;, &#x60;name&#x60;, &#x60;onboard_crew&#x60;, &#x60;status&#x60;, &#x60;type&#x60;, &#x60;volume&#x60;  Example - [/space_stations/detailed/?ordering&#x3D;founded](./?ordering&#x3D;founded)  #### Number of results Use &#x60;limit&#x60; to control the number of objects in the response (max 100)  Example - [/space_stations/detailed/?limit&#x3D;2](./?limit&#x3D;2)  #### Format Switch to JSON output - [/space_stations/detailed/?format&#x3D;json](./?format&#x3D;json)  #### Help Find all the FAQs and support links on the documentation homepage - [spacelaunchnow.app/docs](https://spacelaunchnow.app/docs/)
     * @param dockedVehicles  (optional)
     * @param dockedVehiclesGt  (optional)
     * @param dockedVehiclesGte  (optional)
     * @param dockedVehiclesLt  (optional)
     * @param dockedVehiclesLte  (optional)
     * @param id  (optional)
     * @param limit Number of results to return per page. (optional)
     * @param name  (optional)
     * @param nameContains  (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param onboardCrew  (optional)
     * @param onboardCrewGt  (optional)
     * @param onboardCrewGte  (optional)
     * @param onboardCrewLt  (optional)
     * @param onboardCrewLte  (optional)
     * @param orbit  (optional)
     * @param ordering Which field to use when ordering the results. (optional)
     * @param ownerIds Comma-separated agency IDs. (optional)
     * @param owners  (optional)
     * @param search A search term. (optional)
     * @param status  (optional)
     * @param statusIds Comma-separated spacestation status IDs. (optional)
     * @param type  (optional)
     * @return PaginatedSpaceStationDetailedEndpointList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun spaceStationsDetailedList(dockedVehicles: kotlin.Int? = null, dockedVehiclesGt: kotlin.Int? = null, dockedVehiclesGte: kotlin.Int? = null, dockedVehiclesLt: kotlin.Int? = null, dockedVehiclesLte: kotlin.Int? = null, id: kotlin.Int? = null, limit: kotlin.Int? = null, name: kotlin.String? = null, nameContains: kotlin.String? = null, offset: kotlin.Int? = null, onboardCrew: kotlin.Int? = null, onboardCrewGt: kotlin.Int? = null, onboardCrewGte: kotlin.Int? = null, onboardCrewLt: kotlin.Int? = null, onboardCrewLte: kotlin.Int? = null, orbit: kotlin.Int? = null, ordering: kotlin.String? = null, ownerIds: kotlin.collections.List<kotlin.Int>? = null, owners: kotlin.collections.List<kotlin.Int>? = null, search: kotlin.String? = null, status: kotlin.Int? = null, statusIds: kotlin.collections.List<kotlin.Int>? = null, type: kotlin.Int? = null): HttpResponse<PaginatedSpaceStationDetailedEndpointList> {

        val localVariableAuthNames = listOf<String>("basicAuth", "tokenAuth", "cookieAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        dockedVehicles?.apply { localVariableQuery["docked_vehicles"] = listOf("$dockedVehicles") }
        dockedVehiclesGt?.apply { localVariableQuery["docked_vehicles__gt"] = listOf("$dockedVehiclesGt") }
        dockedVehiclesGte?.apply { localVariableQuery["docked_vehicles__gte"] = listOf("$dockedVehiclesGte") }
        dockedVehiclesLt?.apply { localVariableQuery["docked_vehicles__lt"] = listOf("$dockedVehiclesLt") }
        dockedVehiclesLte?.apply { localVariableQuery["docked_vehicles__lte"] = listOf("$dockedVehiclesLte") }
        id?.apply { localVariableQuery["id"] = listOf("$id") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        name?.apply { localVariableQuery["name"] = listOf("$name") }
        nameContains?.apply { localVariableQuery["name__contains"] = listOf("$nameContains") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        onboardCrew?.apply { localVariableQuery["onboard_crew"] = listOf("$onboardCrew") }
        onboardCrewGt?.apply { localVariableQuery["onboard_crew__gt"] = listOf("$onboardCrewGt") }
        onboardCrewGte?.apply { localVariableQuery["onboard_crew__gte"] = listOf("$onboardCrewGte") }
        onboardCrewLt?.apply { localVariableQuery["onboard_crew__lt"] = listOf("$onboardCrewLt") }
        onboardCrewLte?.apply { localVariableQuery["onboard_crew__lte"] = listOf("$onboardCrewLte") }
        orbit?.apply { localVariableQuery["orbit"] = listOf("$orbit") }
        ordering?.apply { localVariableQuery["ordering"] = listOf("$ordering") }
        ownerIds?.apply { localVariableQuery["owner__ids"] = toMultiValue(this, "csv") }
        owners?.apply { localVariableQuery["owners"] = toMultiValue(this, "multi") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        status?.apply { localVariableQuery["status"] = listOf("$status") }
        statusIds?.apply { localVariableQuery["status__ids"] = toMultiValue(this, "csv") }
        type?.apply { localVariableQuery["type"] = listOf("$type") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/ll/2.4.0/space_stations/detailed/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * #### Filters Parameters - &#x60;docked_vehicles&#x60;, &#x60;docked_vehicles__gt&#x60;, &#x60;docked_vehicles__gte&#x60;, &#x60;docked_vehicles__lt&#x60;, &#x60;docked_vehicles__lte&#x60;, &#x60;id&#x60;, &#x60;name&#x60;, &#x60;name__contains&#x60;, &#x60;onboard_crew&#x60;, &#x60;onboard_crew__gt&#x60;, &#x60;onboard_crew__gte&#x60;, &#x60;onboard_crew__lt&#x60;, &#x60;onboard_crew__lte&#x60;, &#x60;orbit&#x60;, &#x60;owner__ids&#x60;, &#x60;owners&#x60;, &#x60;status&#x60;, &#x60;status__ids&#x60;, &#x60;type&#x60;  Example - [/space_stations/?onboard_crew__gte&#x3D;1](./?onboard_crew__gte&#x3D;1)  #### Search Fields searched - &#x60;name&#x60;, &#x60;owners__abbrev&#x60;, &#x60;owners__name&#x60;  Example - [/space_stations/?search&#x3D;Salyut](./?search&#x3D;Salyut)  #### Ordering Fields - &#x60;docked_vehicles&#x60;, &#x60;founded&#x60;, &#x60;id&#x60;, &#x60;name&#x60;, &#x60;onboard_crew&#x60;, &#x60;status&#x60;, &#x60;type&#x60;, &#x60;volume&#x60;  Example - [/space_stations/?ordering&#x3D;founded](./?ordering&#x3D;founded)  #### Number of results Use &#x60;limit&#x60; to control the number of objects in the response (max 100)  Example - [/space_stations/?limit&#x3D;2](./?limit&#x3D;2)  #### Format Switch to JSON output - [/space_stations/?format&#x3D;json](./?format&#x3D;json)  #### Help Find all the FAQs and support links on the documentation homepage - [spacelaunchnow.app/docs](https://spacelaunchnow.app/docs/)
     * @param dockedVehicles  (optional)
     * @param dockedVehiclesGt  (optional)
     * @param dockedVehiclesGte  (optional)
     * @param dockedVehiclesLt  (optional)
     * @param dockedVehiclesLte  (optional)
     * @param id  (optional)
     * @param limit Number of results to return per page. (optional)
     * @param name  (optional)
     * @param nameContains  (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param onboardCrew  (optional)
     * @param onboardCrewGt  (optional)
     * @param onboardCrewGte  (optional)
     * @param onboardCrewLt  (optional)
     * @param onboardCrewLte  (optional)
     * @param orbit  (optional)
     * @param ordering Which field to use when ordering the results. (optional)
     * @param ownerIds Comma-separated agency IDs. (optional)
     * @param owners  (optional)
     * @param search A search term. (optional)
     * @param status  (optional)
     * @param statusIds Comma-separated spacestation status IDs. (optional)
     * @param type  (optional)
     * @return PaginatedSpaceStationEndpointList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun spaceStationsList(dockedVehicles: kotlin.Int? = null, dockedVehiclesGt: kotlin.Int? = null, dockedVehiclesGte: kotlin.Int? = null, dockedVehiclesLt: kotlin.Int? = null, dockedVehiclesLte: kotlin.Int? = null, id: kotlin.Int? = null, limit: kotlin.Int? = null, name: kotlin.String? = null, nameContains: kotlin.String? = null, offset: kotlin.Int? = null, onboardCrew: kotlin.Int? = null, onboardCrewGt: kotlin.Int? = null, onboardCrewGte: kotlin.Int? = null, onboardCrewLt: kotlin.Int? = null, onboardCrewLte: kotlin.Int? = null, orbit: kotlin.Int? = null, ordering: kotlin.String? = null, ownerIds: kotlin.collections.List<kotlin.Int>? = null, owners: kotlin.collections.List<kotlin.Int>? = null, search: kotlin.String? = null, status: kotlin.Int? = null, statusIds: kotlin.collections.List<kotlin.Int>? = null, type: kotlin.Int? = null): HttpResponse<PaginatedSpaceStationEndpointList> {

        val localVariableAuthNames = listOf<String>("basicAuth", "tokenAuth", "cookieAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        dockedVehicles?.apply { localVariableQuery["docked_vehicles"] = listOf("$dockedVehicles") }
        dockedVehiclesGt?.apply { localVariableQuery["docked_vehicles__gt"] = listOf("$dockedVehiclesGt") }
        dockedVehiclesGte?.apply { localVariableQuery["docked_vehicles__gte"] = listOf("$dockedVehiclesGte") }
        dockedVehiclesLt?.apply { localVariableQuery["docked_vehicles__lt"] = listOf("$dockedVehiclesLt") }
        dockedVehiclesLte?.apply { localVariableQuery["docked_vehicles__lte"] = listOf("$dockedVehiclesLte") }
        id?.apply { localVariableQuery["id"] = listOf("$id") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        name?.apply { localVariableQuery["name"] = listOf("$name") }
        nameContains?.apply { localVariableQuery["name__contains"] = listOf("$nameContains") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        onboardCrew?.apply { localVariableQuery["onboard_crew"] = listOf("$onboardCrew") }
        onboardCrewGt?.apply { localVariableQuery["onboard_crew__gt"] = listOf("$onboardCrewGt") }
        onboardCrewGte?.apply { localVariableQuery["onboard_crew__gte"] = listOf("$onboardCrewGte") }
        onboardCrewLt?.apply { localVariableQuery["onboard_crew__lt"] = listOf("$onboardCrewLt") }
        onboardCrewLte?.apply { localVariableQuery["onboard_crew__lte"] = listOf("$onboardCrewLte") }
        orbit?.apply { localVariableQuery["orbit"] = listOf("$orbit") }
        ordering?.apply { localVariableQuery["ordering"] = listOf("$ordering") }
        ownerIds?.apply { localVariableQuery["owner__ids"] = toMultiValue(this, "csv") }
        owners?.apply { localVariableQuery["owners"] = toMultiValue(this, "multi") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        status?.apply { localVariableQuery["status"] = listOf("$status") }
        statusIds?.apply { localVariableQuery["status__ids"] = toMultiValue(this, "csv") }
        type?.apply { localVariableQuery["type"] = listOf("$type") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/ll/2.4.0/space_stations/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * #### Filters Parameters - &#x60;docked_vehicles&#x60;, &#x60;docked_vehicles__gt&#x60;, &#x60;docked_vehicles__gte&#x60;, &#x60;docked_vehicles__lt&#x60;, &#x60;docked_vehicles__lte&#x60;, &#x60;id&#x60;, &#x60;name&#x60;, &#x60;name__contains&#x60;, &#x60;onboard_crew&#x60;, &#x60;onboard_crew__gt&#x60;, &#x60;onboard_crew__gte&#x60;, &#x60;onboard_crew__lt&#x60;, &#x60;onboard_crew__lte&#x60;, &#x60;orbit&#x60;, &#x60;owner__ids&#x60;, &#x60;owners&#x60;, &#x60;status&#x60;, &#x60;status__ids&#x60;, &#x60;type&#x60;  Example - [/space_stations/?onboard_crew__gte&#x3D;1](./?onboard_crew__gte&#x3D;1)  #### Search Fields searched - &#x60;name&#x60;, &#x60;owners__abbrev&#x60;, &#x60;owners__name&#x60;  Example - [/space_stations/?search&#x3D;Salyut](./?search&#x3D;Salyut)  #### Ordering Fields - &#x60;docked_vehicles&#x60;, &#x60;founded&#x60;, &#x60;id&#x60;, &#x60;name&#x60;, &#x60;onboard_crew&#x60;, &#x60;status&#x60;, &#x60;type&#x60;, &#x60;volume&#x60;  Example - [/space_stations/?ordering&#x3D;founded](./?ordering&#x3D;founded)  #### Number of results Use &#x60;limit&#x60; to control the number of objects in the response (max 100)  Example - [/space_stations/?limit&#x3D;2](./?limit&#x3D;2)  #### Format Switch to JSON output - [/space_stations/?format&#x3D;json](./?format&#x3D;json)  #### Help Find all the FAQs and support links on the documentation homepage - [spacelaunchnow.app/docs](https://spacelaunchnow.app/docs/)
     * @param id A unique integer value identifying this Space Station.
     * @return SpaceStationDetailedEndpoint
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun spaceStationsRetrieve(id: kotlin.Int): HttpResponse<SpaceStationDetailedEndpoint> {

        val localVariableAuthNames = listOf<String>("basicAuth", "tokenAuth", "cookieAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/ll/2.4.0/space_stations/{id}/".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
