/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package me.calebjones.spacelaunchnow.api.apis

import me.calebjones.spacelaunchnow.api.models.PaginatedSpacecraftEndpointDetailedList
import me.calebjones.spacelaunchnow.api.models.PaginatedSpacecraftNormalList
import me.calebjones.spacelaunchnow.api.models.SpacecraftEndpointDetailed

import me.calebjones.spacelaunchnow.api.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class SpacecraftApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * 
     * #### Filters Parameters - &#x60;in_space&#x60;, &#x60;is_placeholder&#x60;, &#x60;name&#x60;, &#x60;spacecraft_config&#x60;, &#x60;status&#x60;  Example - [/spacecraft/detailed/?is_placeholder&#x3D;True](./?is_placeholder&#x3D;True)  #### Search Fields searched - &#x60;name&#x60;, &#x60;spacecraft_config__name&#x60;  Example - [/spacecraft/detailed/?search&#x3D;Endeavour](./?search&#x3D;Endeavour)  #### Ordering Fields - &#x60;flights_count&#x60;, &#x60;id&#x60;, &#x60;mission_ends_count&#x60;, &#x60;time_docked&#x60;, &#x60;time_in_space&#x60;  Example - [/spacecraft/detailed/?ordering&#x3D;-flights_count](./?ordering&#x3D;-flights_count)  #### Number of results Use &#x60;limit&#x60; to control the number of objects in the response (max 100)  Example - [/spacecraft/detailed/?limit&#x3D;2](./?limit&#x3D;2)  #### Format Switch to JSON output - [/spacecraft/detailed/?format&#x3D;json](./?format&#x3D;json)  #### Help Find all the FAQs and support links on the documentation homepage - [spacelaunchnow.app/docs](https://spacelaunchnow.app/docs/)
     * @param inSpace  (optional)
     * @param isPlaceholder  (optional)
     * @param limit Number of results to return per page. (optional)
     * @param name  (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param ordering Which field to use when ordering the results. (optional)
     * @param search A search term. (optional)
     * @param spacecraftConfig  (optional)
     * @param status  (optional)
     * @return PaginatedSpacecraftEndpointDetailedList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun spacecraftDetailedList(inSpace: kotlin.Boolean? = null, isPlaceholder: kotlin.Boolean? = null, limit: kotlin.Int? = null, name: kotlin.String? = null, offset: kotlin.Int? = null, ordering: kotlin.String? = null, search: kotlin.String? = null, spacecraftConfig: kotlin.Int? = null, status: kotlin.Int? = null): HttpResponse<PaginatedSpacecraftEndpointDetailedList> {

        val localVariableAuthNames = listOf<String>("basicAuth", "tokenAuth", "cookieAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        inSpace?.apply { localVariableQuery["in_space"] = listOf("$inSpace") }
        isPlaceholder?.apply { localVariableQuery["is_placeholder"] = listOf("$isPlaceholder") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        name?.apply { localVariableQuery["name"] = listOf("$name") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        ordering?.apply { localVariableQuery["ordering"] = listOf("$ordering") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        spacecraftConfig?.apply { localVariableQuery["spacecraft_config"] = listOf("$spacecraftConfig") }
        status?.apply { localVariableQuery["status"] = listOf("$status") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/ll/2.4.0/spacecraft/detailed/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * #### Filters Parameters - &#x60;in_space&#x60;, &#x60;is_placeholder&#x60;, &#x60;name&#x60;, &#x60;spacecraft_config&#x60;, &#x60;status&#x60;  Example - [/spacecraft/?is_placeholder&#x3D;True](./?is_placeholder&#x3D;True)  #### Search Fields searched - &#x60;name&#x60;, &#x60;spacecraft_config__name&#x60;  Example - [/spacecraft/?search&#x3D;Endeavour](./?search&#x3D;Endeavour)  #### Ordering Fields - &#x60;flights_count&#x60;, &#x60;id&#x60;, &#x60;mission_ends_count&#x60;, &#x60;time_docked&#x60;, &#x60;time_in_space&#x60;  Example - [/spacecraft/?ordering&#x3D;-flights_count](./?ordering&#x3D;-flights_count)  #### Number of results Use &#x60;limit&#x60; to control the number of objects in the response (max 100)  Example - [/spacecraft/?limit&#x3D;2](./?limit&#x3D;2)  #### Format Switch to JSON output - [/spacecraft/?format&#x3D;json](./?format&#x3D;json)  #### Help Find all the FAQs and support links on the documentation homepage - [spacelaunchnow.app/docs](https://spacelaunchnow.app/docs/)
     * @param inSpace  (optional)
     * @param isPlaceholder  (optional)
     * @param limit Number of results to return per page. (optional)
     * @param name  (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param ordering Which field to use when ordering the results. (optional)
     * @param search A search term. (optional)
     * @param spacecraftConfig  (optional)
     * @param status  (optional)
     * @return PaginatedSpacecraftNormalList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun spacecraftList(inSpace: kotlin.Boolean? = null, isPlaceholder: kotlin.Boolean? = null, limit: kotlin.Int? = null, name: kotlin.String? = null, offset: kotlin.Int? = null, ordering: kotlin.String? = null, search: kotlin.String? = null, spacecraftConfig: kotlin.Int? = null, status: kotlin.Int? = null): HttpResponse<PaginatedSpacecraftNormalList> {

        val localVariableAuthNames = listOf<String>("basicAuth", "tokenAuth", "cookieAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        inSpace?.apply { localVariableQuery["in_space"] = listOf("$inSpace") }
        isPlaceholder?.apply { localVariableQuery["is_placeholder"] = listOf("$isPlaceholder") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        name?.apply { localVariableQuery["name"] = listOf("$name") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        ordering?.apply { localVariableQuery["ordering"] = listOf("$ordering") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        spacecraftConfig?.apply { localVariableQuery["spacecraft_config"] = listOf("$spacecraftConfig") }
        status?.apply { localVariableQuery["status"] = listOf("$status") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/ll/2.4.0/spacecraft/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * #### Filters Parameters - &#x60;in_space&#x60;, &#x60;is_placeholder&#x60;, &#x60;name&#x60;, &#x60;spacecraft_config&#x60;, &#x60;status&#x60;  Example - [/spacecraft/mini/?is_placeholder&#x3D;True](./?is_placeholder&#x3D;True)  #### Search Fields searched - &#x60;name&#x60;, &#x60;spacecraft_config__name&#x60;  Example - [/spacecraft/mini/?search&#x3D;Endeavour](./?search&#x3D;Endeavour)  #### Ordering Fields - &#x60;flights_count&#x60;, &#x60;id&#x60;, &#x60;mission_ends_count&#x60;, &#x60;time_docked&#x60;, &#x60;time_in_space&#x60;  Example - [/spacecraft/mini/?ordering&#x3D;-flights_count](./?ordering&#x3D;-flights_count)  #### Number of results Use &#x60;limit&#x60; to control the number of objects in the response (max 100)  Example - [/spacecraft/mini/?limit&#x3D;2](./?limit&#x3D;2)  #### Format Switch to JSON output - [/spacecraft/mini/?format&#x3D;json](./?format&#x3D;json)  #### Help Find all the FAQs and support links on the documentation homepage - [spacelaunchnow.app/docs](https://spacelaunchnow.app/docs/)
     * @param inSpace  (optional)
     * @param isPlaceholder  (optional)
     * @param limit Number of results to return per page. (optional)
     * @param name  (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param ordering Which field to use when ordering the results. (optional)
     * @param search A search term. (optional)
     * @param spacecraftConfig  (optional)
     * @param status  (optional)
     * @return PaginatedSpacecraftNormalList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun spacecraftMiniList(inSpace: kotlin.Boolean? = null, isPlaceholder: kotlin.Boolean? = null, limit: kotlin.Int? = null, name: kotlin.String? = null, offset: kotlin.Int? = null, ordering: kotlin.String? = null, search: kotlin.String? = null, spacecraftConfig: kotlin.Int? = null, status: kotlin.Int? = null): HttpResponse<PaginatedSpacecraftNormalList> {

        val localVariableAuthNames = listOf<String>("basicAuth", "tokenAuth", "cookieAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        inSpace?.apply { localVariableQuery["in_space"] = listOf("$inSpace") }
        isPlaceholder?.apply { localVariableQuery["is_placeholder"] = listOf("$isPlaceholder") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        name?.apply { localVariableQuery["name"] = listOf("$name") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        ordering?.apply { localVariableQuery["ordering"] = listOf("$ordering") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        spacecraftConfig?.apply { localVariableQuery["spacecraft_config"] = listOf("$spacecraftConfig") }
        status?.apply { localVariableQuery["status"] = listOf("$status") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/ll/2.4.0/spacecraft/mini/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * #### Filters Parameters - &#x60;in_space&#x60;, &#x60;is_placeholder&#x60;, &#x60;name&#x60;, &#x60;spacecraft_config&#x60;, &#x60;status&#x60;  Example - [/spacecraft/?is_placeholder&#x3D;True](./?is_placeholder&#x3D;True)  #### Search Fields searched - &#x60;name&#x60;, &#x60;spacecraft_config__name&#x60;  Example - [/spacecraft/?search&#x3D;Endeavour](./?search&#x3D;Endeavour)  #### Ordering Fields - &#x60;flights_count&#x60;, &#x60;id&#x60;, &#x60;mission_ends_count&#x60;, &#x60;time_docked&#x60;, &#x60;time_in_space&#x60;  Example - [/spacecraft/?ordering&#x3D;-flights_count](./?ordering&#x3D;-flights_count)  #### Number of results Use &#x60;limit&#x60; to control the number of objects in the response (max 100)  Example - [/spacecraft/?limit&#x3D;2](./?limit&#x3D;2)  #### Format Switch to JSON output - [/spacecraft/?format&#x3D;json](./?format&#x3D;json)  #### Help Find all the FAQs and support links on the documentation homepage - [spacelaunchnow.app/docs](https://spacelaunchnow.app/docs/)
     * @param id A unique integer value identifying this Spacecraft.
     * @return SpacecraftEndpointDetailed
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun spacecraftRetrieve(id: kotlin.Int): HttpResponse<SpacecraftEndpointDetailed> {

        val localVariableAuthNames = listOf<String>("basicAuth", "tokenAuth", "cookieAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/ll/2.4.0/spacecraft/{id}/".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
