/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package me.calebjones.spacelaunchnow.api.apis

import me.calebjones.spacelaunchnow.api.models.PaginatedUpdateEndpointList
import me.calebjones.spacelaunchnow.api.models.UpdateEndpoint

import me.calebjones.spacelaunchnow.api.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class UpdatesApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * 
     * #### Filters Parameters - &#x60;created_on&#x60;, &#x60;launch&#x60;, &#x60;launch__launch_service_provider&#x60;, &#x60;program&#x60;  Example - [/updates/?launch__launch_service_provider&#x3D;121](./?launch__launch_service_provider&#x3D;121)  #### Ordering Fields - &#x60;created_on&#x60;  Example - [/updates/?ordering&#x3D;-created_on](./?ordering&#x3D;-created_on)  #### Number of results Use &#x60;limit&#x60; to control the number of objects in the response (max 100)  Example - [/updates/?limit&#x3D;2](./?limit&#x3D;2)  #### Format Switch to JSON output - [/updates/?format&#x3D;json](./?format&#x3D;json)  #### Help Find all the FAQs and support links on the documentation homepage - [spacelaunchnow.app/docs](https://spacelaunchnow.app/docs/)
     * @param createdOn  (optional)
     * @param launch  (optional)
     * @param launchLaunchServiceProvider  (optional)
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param ordering Which field to use when ordering the results. (optional)
     * @param program  (optional)
     * @param search A search term. (optional)
     * @return PaginatedUpdateEndpointList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun updatesList(createdOn: kotlinx.datetime.Instant? = null, launch: kotlin.String? = null, launchLaunchServiceProvider: kotlin.Int? = null, limit: kotlin.Int? = null, offset: kotlin.Int? = null, ordering: kotlin.String? = null, program: kotlin.Int? = null, search: kotlin.String? = null): HttpResponse<PaginatedUpdateEndpointList> {

        val localVariableAuthNames = listOf<String>("basicAuth", "tokenAuth", "cookieAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        createdOn?.apply { localVariableQuery["created_on"] = listOf("$createdOn") }
        launch?.apply { localVariableQuery["launch"] = listOf("$launch") }
        launchLaunchServiceProvider?.apply { localVariableQuery["launch__launch_service_provider"] = listOf("$launchLaunchServiceProvider") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        ordering?.apply { localVariableQuery["ordering"] = listOf("$ordering") }
        program?.apply { localVariableQuery["program"] = listOf("$program") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/ll/2.4.0/updates/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * #### Filters Parameters - &#x60;created_on&#x60;, &#x60;launch&#x60;, &#x60;launch__launch_service_provider&#x60;, &#x60;program&#x60;  Example - [/updates/?launch__launch_service_provider&#x3D;121](./?launch__launch_service_provider&#x3D;121)  #### Ordering Fields - &#x60;created_on&#x60;  Example - [/updates/?ordering&#x3D;-created_on](./?ordering&#x3D;-created_on)  #### Number of results Use &#x60;limit&#x60; to control the number of objects in the response (max 100)  Example - [/updates/?limit&#x3D;2](./?limit&#x3D;2)  #### Format Switch to JSON output - [/updates/?format&#x3D;json](./?format&#x3D;json)  #### Help Find all the FAQs and support links on the documentation homepage - [spacelaunchnow.app/docs](https://spacelaunchnow.app/docs/)
     * @param id A unique integer value identifying this Update.
     * @return UpdateEndpoint
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun updatesRetrieve(id: kotlin.Int): HttpResponse<UpdateEndpoint> {

        val localVariableAuthNames = listOf<String>("basicAuth", "tokenAuth", "cookieAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/ll/2.4.0/updates/{id}/".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
