/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package me.calebjones.spacelaunchnow.api.launchlibrary.apis

import me.calebjones.spacelaunchnow.api.launchlibrary.models.StarshipDashboardDetailed
import me.calebjones.spacelaunchnow.api.launchlibrary.models.StarshipDashboardList
import me.calebjones.spacelaunchnow.api.launchlibrary.models.StarshipDashboardNormal

import me.calebjones.spacelaunchnow.api.launchlibrary.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class DashboardApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * 
     * #### Number of results Use &#x60;limit&#x60; to control the number of objects in the response (max 100)  Example - [/dashboard/starship/detailed/?limit&#x3D;2](./?limit&#x3D;2)  #### Format Switch to JSON output - [/dashboard/starship/detailed/?format&#x3D;json](./?format&#x3D;json)  #### Help Find all the FAQs and support links on the documentation homepage - [spacelaunchnow.app/docs](https://spacelaunchnow.app/docs/)
     * @return kotlin.collections.List<StarshipDashboardDetailed>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun dashboardStarshipDetailedList(): HttpResponse<kotlin.collections.List<StarshipDashboardDetailed>> {

        val localVariableAuthNames = listOf<String>("basicAuth", "tokenAuth", "cookieAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/ll/2.4.0/dashboard/starship/detailed/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<DashboardStarshipDetailedListResponse>().map { value }
    }

    @Serializable(DashboardStarshipDetailedListResponse.Companion::class)
    private class DashboardStarshipDetailedListResponse(val value: List<StarshipDashboardDetailed>) {
        companion object : KSerializer<DashboardStarshipDetailedListResponse> {
            private val serializer: KSerializer<List<StarshipDashboardDetailed>> = serializer<List<StarshipDashboardDetailed>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: DashboardStarshipDetailedListResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = DashboardStarshipDetailedListResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * 
     * #### Number of results Use &#x60;limit&#x60; to control the number of objects in the response (max 100)  Example - [/dashboard/starship/?limit&#x3D;2](./?limit&#x3D;2)  #### Format Switch to JSON output - [/dashboard/starship/?format&#x3D;json](./?format&#x3D;json)  #### Help Find all the FAQs and support links on the documentation homepage - [spacelaunchnow.app/docs](https://spacelaunchnow.app/docs/)
     * @return kotlin.collections.List<StarshipDashboardNormal>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun dashboardStarshipList(): HttpResponse<kotlin.collections.List<StarshipDashboardNormal>> {

        val localVariableAuthNames = listOf<String>("basicAuth", "tokenAuth", "cookieAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/ll/2.4.0/dashboard/starship/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<DashboardStarshipListResponse>().map { value }
    }

    @Serializable(DashboardStarshipListResponse.Companion::class)
    private class DashboardStarshipListResponse(val value: List<StarshipDashboardNormal>) {
        companion object : KSerializer<DashboardStarshipListResponse> {
            private val serializer: KSerializer<List<StarshipDashboardNormal>> = serializer<List<StarshipDashboardNormal>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: DashboardStarshipListResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = DashboardStarshipListResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * 
     * #### Number of results Use &#x60;limit&#x60; to control the number of objects in the response (max 100)  Example - [/dashboard/starship/mini/?limit&#x3D;2](./?limit&#x3D;2)  #### Format Switch to JSON output - [/dashboard/starship/mini/?format&#x3D;json](./?format&#x3D;json)  #### Help Find all the FAQs and support links on the documentation homepage - [spacelaunchnow.app/docs](https://spacelaunchnow.app/docs/)
     * @return kotlin.collections.List<StarshipDashboardList>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun dashboardStarshipMiniList(): HttpResponse<kotlin.collections.List<StarshipDashboardList>> {

        val localVariableAuthNames = listOf<String>("basicAuth", "tokenAuth", "cookieAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/ll/2.4.0/dashboard/starship/mini/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<DashboardStarshipMiniListResponse>().map { value }
    }

    @Serializable(DashboardStarshipMiniListResponse.Companion::class)
    private class DashboardStarshipMiniListResponse(val value: List<StarshipDashboardList>) {
        companion object : KSerializer<DashboardStarshipMiniListResponse> {
            private val serializer: KSerializer<List<StarshipDashboardList>> = serializer<List<StarshipDashboardList>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: DashboardStarshipMiniListResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = DashboardStarshipMiniListResponse(serializer.deserialize(decoder))
        }
    }

}
