/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package me.calebjones.spacelaunchnow.api.launchlibrary.apis

import me.calebjones.spacelaunchnow.api.launchlibrary.models.DockingEventEndpointNormal
import me.calebjones.spacelaunchnow.api.launchlibrary.models.PaginatedDockingEventEndpointNormalList

import me.calebjones.spacelaunchnow.api.launchlibrary.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class DockingEventsApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * 
     * #### Filters Parameters - &#x60;docked&#x60;, &#x60;docking__day&#x60;, &#x60;docking__gt&#x60;, &#x60;docking__gte&#x60;, &#x60;docking__lt&#x60;, &#x60;docking__lte&#x60;, &#x60;docking__month&#x60;, &#x60;docking__year&#x60;, &#x60;docking_location__id&#x60;, &#x60;flight_vehicle_chaser__id&#x60;, &#x60;space_station_target__id&#x60;  Example - [/docking_events/?space_station_target__id&#x3D;6](./?space_station_target__id&#x3D;6)  #### Search Fields searched - &#x60;docking_location__name&#x60;, &#x60;flight_vehicle_chaser__spacecraft__name&#x60;, &#x60;flight_vehicle_target__spacecraft__name&#x60;, &#x60;payload_flight_chaser__payload__name&#x60;, &#x60;payload_flight_target__payload__name&#x60;, &#x60;space_station_chaser__name&#x60;, &#x60;space_station_target__name&#x60;  Example - [/docking_events/?search&#x3D;Salyut](./?search&#x3D;Salyut)  #### Ordering Fields - &#x60;departure&#x60;, &#x60;docking&#x60;  Example - [/docking_events/?ordering&#x3D;-docking](./?ordering&#x3D;-docking)  #### Number of results Use &#x60;limit&#x60; to control the number of objects in the response (max 100)  Example - [/docking_events/?limit&#x3D;2](./?limit&#x3D;2)  #### Format Switch to JSON output - [/docking_events/?format&#x3D;json](./?format&#x3D;json)  #### Help Find all the FAQs and support links on the documentation homepage - [spacelaunchnow.app/docs](https://spacelaunchnow.app/docs/)
     * @param docked  (optional)
     * @param dockingDay Multiple values may be separated by commas. (optional)
     * @param dockingGt Docking is greater than (optional)
     * @param dockingGte Docking is greater than or equal to (optional)
     * @param dockingLt Docking is less than (optional)
     * @param dockingLte Docking is less than or equal to (optional)
     * @param dockingMonth Multiple values may be separated by commas. (optional)
     * @param dockingYear Multiple values may be separated by commas. (optional)
     * @param dockingLocationId  (optional)
     * @param flightVehicleChaserId  (optional)
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param ordering Which field to use when ordering the results. (optional)
     * @param search A search term. (optional)
     * @param spaceStationTargetId  (optional)
     * @return PaginatedDockingEventEndpointNormalList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun dockingEventsList(docked: kotlin.Boolean? = null, dockingDay: kotlin.collections.List<kotlin.Double>? = null, dockingGt: kotlin.time.Instant? = null, dockingGte: kotlin.time.Instant? = null, dockingLt: kotlin.time.Instant? = null, dockingLte: kotlin.time.Instant? = null, dockingMonth: kotlin.collections.List<kotlin.Double>? = null, dockingYear: kotlin.collections.List<kotlin.Double>? = null, dockingLocationId: kotlin.Int? = null, flightVehicleChaserId: kotlin.Int? = null, limit: kotlin.Int? = null, offset: kotlin.Int? = null, ordering: kotlin.String? = null, search: kotlin.String? = null, spaceStationTargetId: kotlin.Int? = null): HttpResponse<PaginatedDockingEventEndpointNormalList> {

        val localVariableAuthNames = listOf<String>("basicAuth", "tokenAuth", "cookieAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        docked?.apply { localVariableQuery["docked"] = listOf("$docked") }
        dockingDay?.apply { localVariableQuery["docking__day"] = toMultiValue(this, "csv") }
        dockingGt?.apply { localVariableQuery["docking__gt"] = listOf("$dockingGt") }
        dockingGte?.apply { localVariableQuery["docking__gte"] = listOf("$dockingGte") }
        dockingLt?.apply { localVariableQuery["docking__lt"] = listOf("$dockingLt") }
        dockingLte?.apply { localVariableQuery["docking__lte"] = listOf("$dockingLte") }
        dockingMonth?.apply { localVariableQuery["docking__month"] = toMultiValue(this, "csv") }
        dockingYear?.apply { localVariableQuery["docking__year"] = toMultiValue(this, "csv") }
        dockingLocationId?.apply { localVariableQuery["docking_location__id"] = listOf("$dockingLocationId") }
        flightVehicleChaserId?.apply { localVariableQuery["flight_vehicle_chaser__id"] = listOf("$flightVehicleChaserId") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        ordering?.apply { localVariableQuery["ordering"] = listOf("$ordering") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        spaceStationTargetId?.apply { localVariableQuery["space_station_target__id"] = listOf("$spaceStationTargetId") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/ll/2.4.0/docking_events/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * #### Filters Parameters - &#x60;docked&#x60;, &#x60;docking__day&#x60;, &#x60;docking__gt&#x60;, &#x60;docking__gte&#x60;, &#x60;docking__lt&#x60;, &#x60;docking__lte&#x60;, &#x60;docking__month&#x60;, &#x60;docking__year&#x60;, &#x60;docking_location__id&#x60;, &#x60;flight_vehicle_chaser__id&#x60;, &#x60;space_station_target__id&#x60;  Example - [/docking_events/?space_station_target__id&#x3D;6](./?space_station_target__id&#x3D;6)  #### Search Fields searched - &#x60;docking_location__name&#x60;, &#x60;flight_vehicle_chaser__spacecraft__name&#x60;, &#x60;flight_vehicle_target__spacecraft__name&#x60;, &#x60;payload_flight_chaser__payload__name&#x60;, &#x60;payload_flight_target__payload__name&#x60;, &#x60;space_station_chaser__name&#x60;, &#x60;space_station_target__name&#x60;  Example - [/docking_events/?search&#x3D;Salyut](./?search&#x3D;Salyut)  #### Ordering Fields - &#x60;departure&#x60;, &#x60;docking&#x60;  Example - [/docking_events/?ordering&#x3D;-docking](./?ordering&#x3D;-docking)  #### Number of results Use &#x60;limit&#x60; to control the number of objects in the response (max 100)  Example - [/docking_events/?limit&#x3D;2](./?limit&#x3D;2)  #### Format Switch to JSON output - [/docking_events/?format&#x3D;json](./?format&#x3D;json)  #### Help Find all the FAQs and support links on the documentation homepage - [spacelaunchnow.app/docs](https://spacelaunchnow.app/docs/)
     * @param id A unique integer value identifying this docking event.
     * @return DockingEventEndpointNormal
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun dockingEventsRetrieve(id: kotlin.Int): HttpResponse<DockingEventEndpointNormal> {

        val localVariableAuthNames = listOf<String>("basicAuth", "tokenAuth", "cookieAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/ll/2.4.0/docking_events/{id}/".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
