/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package me.calebjones.spacelaunchnow.api.launchlibrary.apis

import me.calebjones.spacelaunchnow.api.launchlibrary.models.EventEndpointDetailed
import me.calebjones.spacelaunchnow.api.launchlibrary.models.PaginatedEventEndpointDetailedList
import me.calebjones.spacelaunchnow.api.launchlibrary.models.PaginatedEventEndpointListList
import me.calebjones.spacelaunchnow.api.launchlibrary.models.PaginatedEventEndpointNormalList

import me.calebjones.spacelaunchnow.api.launchlibrary.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class EventsApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * 
     * #### Filters Parameters - &#x60;agency__ids&#x60;, &#x60;date__gt&#x60;, &#x60;date__gte&#x60;, &#x60;date__lt&#x60;, &#x60;date__lte&#x60;, &#x60;day&#x60;, &#x60;id&#x60;, &#x60;last_updated__gte&#x60;, &#x60;last_updated__lte&#x60;, &#x60;month&#x60;, &#x60;previous&#x60;, &#x60;program&#x60;, &#x60;slug&#x60;, &#x60;type&#x60;, &#x60;type__ids&#x60;, &#x60;upcoming&#x60;, &#x60;upcoming_with_recent&#x60;, &#x60;video_url&#x60;, &#x60;year&#x60;  Example - [/events/detailed/?type__ids&#x3D;2,8](./?type__ids&#x3D;2,8)  #### Search Fields searched - &#x60;name&#x60;  Example - [/events/detailed/?search&#x3D;Flyby](./?search&#x3D;Flyby)  #### Ordering Fields - &#x60;date&#x60;, &#x60;last_updated&#x60;  Example - [/events/detailed/?ordering&#x3D;-last_updated](./?ordering&#x3D;-last_updated)  #### Number of results Use &#x60;limit&#x60; to control the number of objects in the response (max 100)  Example - [/events/detailed/?limit&#x3D;2](./?limit&#x3D;2)  #### Format Switch to JSON output - [/events/detailed/?format&#x3D;json](./?format&#x3D;json)  #### Help Find all the FAQs and support links on the documentation homepage - [spacelaunchnow.app/docs](https://spacelaunchnow.app/docs/)
     * @param agencyIds Comma-separated agency IDs. (optional)
     * @param dateGt Date is greater than (optional)
     * @param dateGte Date is greater than or equal to (optional)
     * @param dateLt Date is less than (optional)
     * @param dateLte Date is less than or equal to (optional)
     * @param day Multiple values may be separated by commas. (optional)
     * @param id Multiple values may be separated by commas. (optional)
     * @param lastUpdatedGte Last Update is greater than or equal to (optional)
     * @param lastUpdatedLte Last Update is less than or equal to (optional)
     * @param limit Number of results to return per page. (optional)
     * @param month Multiple values may be separated by commas. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param ordering Which field to use when ordering the results. (optional)
     * @param previous Filter for events that have already occurred (up to current time). (optional)
     * @param program  (optional)
     * @param search A search term. (optional)
     * @param slug  (optional)
     * @param type  (optional)
     * @param typeIds Comma-separated event type IDs. (optional)
     * @param upcoming Filter for events upcoming within the next period (up to current time). (optional)
     * @param upcomingWithRecent Filter for events upcoming within the next period (from 1 day ago onwards). (optional)
     * @param videoUrl Comma-separated video URLs. (optional)
     * @param year Multiple values may be separated by commas. (optional)
     * @return PaginatedEventEndpointDetailedList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun eventsDetailedList(agencyIds: kotlin.collections.List<kotlin.Int>? = null, dateGt: kotlinx.datetime.Instant? = null, dateGte: kotlinx.datetime.Instant? = null, dateLt: kotlinx.datetime.Instant? = null, dateLte: kotlinx.datetime.Instant? = null, day: kotlin.collections.List<kotlin.Double>? = null, id: kotlin.collections.List<kotlin.Int>? = null, lastUpdatedGte: kotlinx.datetime.Instant? = null, lastUpdatedLte: kotlinx.datetime.Instant? = null, limit: kotlin.Int? = null, month: kotlin.collections.List<kotlin.Double>? = null, offset: kotlin.Int? = null, ordering: kotlin.String? = null, previous: kotlin.Boolean? = null, program: kotlin.collections.List<kotlin.Int>? = null, search: kotlin.String? = null, slug: kotlin.String? = null, type: kotlin.Int? = null, typeIds: kotlin.collections.List<kotlin.Int>? = null, upcoming: kotlin.Boolean? = null, upcomingWithRecent: kotlin.Boolean? = null, videoUrl: kotlin.collections.List<kotlin.String>? = null, year: kotlin.collections.List<kotlin.Double>? = null): HttpResponse<PaginatedEventEndpointDetailedList> {

        val localVariableAuthNames = listOf<String>("basicAuth", "tokenAuth", "cookieAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        agencyIds?.apply { localVariableQuery["agency__ids"] = toMultiValue(this, "csv") }
        dateGt?.apply { localVariableQuery["date__gt"] = listOf("$dateGt") }
        dateGte?.apply { localVariableQuery["date__gte"] = listOf("$dateGte") }
        dateLt?.apply { localVariableQuery["date__lt"] = listOf("$dateLt") }
        dateLte?.apply { localVariableQuery["date__lte"] = listOf("$dateLte") }
        day?.apply { localVariableQuery["day"] = toMultiValue(this, "csv") }
        id?.apply { localVariableQuery["id"] = toMultiValue(this, "csv") }
        lastUpdatedGte?.apply { localVariableQuery["last_updated__gte"] = listOf("$lastUpdatedGte") }
        lastUpdatedLte?.apply { localVariableQuery["last_updated__lte"] = listOf("$lastUpdatedLte") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        month?.apply { localVariableQuery["month"] = toMultiValue(this, "csv") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        ordering?.apply { localVariableQuery["ordering"] = listOf("$ordering") }
        previous?.apply { localVariableQuery["previous"] = listOf("$previous") }
        program?.apply { localVariableQuery["program"] = toMultiValue(this, "multi") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        slug?.apply { localVariableQuery["slug"] = listOf("$slug") }
        type?.apply { localVariableQuery["type"] = listOf("$type") }
        typeIds?.apply { localVariableQuery["type__ids"] = toMultiValue(this, "csv") }
        upcoming?.apply { localVariableQuery["upcoming"] = listOf("$upcoming") }
        upcomingWithRecent?.apply { localVariableQuery["upcoming_with_recent"] = listOf("$upcomingWithRecent") }
        videoUrl?.apply { localVariableQuery["video_url"] = toMultiValue(this, "csv") }
        year?.apply { localVariableQuery["year"] = toMultiValue(this, "csv") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/ll/2.4.0/events/detailed/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * #### Filters Parameters - &#x60;agency__ids&#x60;, &#x60;date__gt&#x60;, &#x60;date__gte&#x60;, &#x60;date__lt&#x60;, &#x60;date__lte&#x60;, &#x60;day&#x60;, &#x60;id&#x60;, &#x60;last_updated__gte&#x60;, &#x60;last_updated__lte&#x60;, &#x60;month&#x60;, &#x60;previous&#x60;, &#x60;program&#x60;, &#x60;slug&#x60;, &#x60;type&#x60;, &#x60;type__ids&#x60;, &#x60;upcoming&#x60;, &#x60;upcoming_with_recent&#x60;, &#x60;video_url&#x60;, &#x60;year&#x60;  Example - [/events/?type__ids&#x3D;2,8](./?type__ids&#x3D;2,8)  #### Search Fields searched - &#x60;name&#x60;  Example - [/events/?search&#x3D;Flyby](./?search&#x3D;Flyby)  #### Ordering Fields - &#x60;date&#x60;, &#x60;last_updated&#x60;  Example - [/events/?ordering&#x3D;-last_updated](./?ordering&#x3D;-last_updated)  #### Number of results Use &#x60;limit&#x60; to control the number of objects in the response (max 100)  Example - [/events/?limit&#x3D;2](./?limit&#x3D;2)  #### Format Switch to JSON output - [/events/?format&#x3D;json](./?format&#x3D;json)  #### Help Find all the FAQs and support links on the documentation homepage - [spacelaunchnow.app/docs](https://spacelaunchnow.app/docs/)
     * @param agencyIds Comma-separated agency IDs. (optional)
     * @param dateGt Date is greater than (optional)
     * @param dateGte Date is greater than or equal to (optional)
     * @param dateLt Date is less than (optional)
     * @param dateLte Date is less than or equal to (optional)
     * @param day Multiple values may be separated by commas. (optional)
     * @param id Multiple values may be separated by commas. (optional)
     * @param lastUpdatedGte Last Update is greater than or equal to (optional)
     * @param lastUpdatedLte Last Update is less than or equal to (optional)
     * @param limit Number of results to return per page. (optional)
     * @param month Multiple values may be separated by commas. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param ordering Which field to use when ordering the results. (optional)
     * @param previous Filter for events that have already occurred (up to current time). (optional)
     * @param program  (optional)
     * @param search A search term. (optional)
     * @param slug  (optional)
     * @param type  (optional)
     * @param typeIds Comma-separated event type IDs. (optional)
     * @param upcoming Filter for events upcoming within the next period (up to current time). (optional)
     * @param upcomingWithRecent Filter for events upcoming within the next period (from 1 day ago onwards). (optional)
     * @param videoUrl Comma-separated video URLs. (optional)
     * @param year Multiple values may be separated by commas. (optional)
     * @return PaginatedEventEndpointNormalList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun eventsList(agencyIds: kotlin.collections.List<kotlin.Int>? = null, dateGt: kotlinx.datetime.Instant? = null, dateGte: kotlinx.datetime.Instant? = null, dateLt: kotlinx.datetime.Instant? = null, dateLte: kotlinx.datetime.Instant? = null, day: kotlin.collections.List<kotlin.Double>? = null, id: kotlin.collections.List<kotlin.Int>? = null, lastUpdatedGte: kotlinx.datetime.Instant? = null, lastUpdatedLte: kotlinx.datetime.Instant? = null, limit: kotlin.Int? = null, month: kotlin.collections.List<kotlin.Double>? = null, offset: kotlin.Int? = null, ordering: kotlin.String? = null, previous: kotlin.Boolean? = null, program: kotlin.collections.List<kotlin.Int>? = null, search: kotlin.String? = null, slug: kotlin.String? = null, type: kotlin.Int? = null, typeIds: kotlin.collections.List<kotlin.Int>? = null, upcoming: kotlin.Boolean? = null, upcomingWithRecent: kotlin.Boolean? = null, videoUrl: kotlin.collections.List<kotlin.String>? = null, year: kotlin.collections.List<kotlin.Double>? = null): HttpResponse<PaginatedEventEndpointNormalList> {

        val localVariableAuthNames = listOf<String>("basicAuth", "tokenAuth", "cookieAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        agencyIds?.apply { localVariableQuery["agency__ids"] = toMultiValue(this, "csv") }
        dateGt?.apply { localVariableQuery["date__gt"] = listOf("$dateGt") }
        dateGte?.apply { localVariableQuery["date__gte"] = listOf("$dateGte") }
        dateLt?.apply { localVariableQuery["date__lt"] = listOf("$dateLt") }
        dateLte?.apply { localVariableQuery["date__lte"] = listOf("$dateLte") }
        day?.apply { localVariableQuery["day"] = toMultiValue(this, "csv") }
        id?.apply { localVariableQuery["id"] = toMultiValue(this, "csv") }
        lastUpdatedGte?.apply { localVariableQuery["last_updated__gte"] = listOf("$lastUpdatedGte") }
        lastUpdatedLte?.apply { localVariableQuery["last_updated__lte"] = listOf("$lastUpdatedLte") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        month?.apply { localVariableQuery["month"] = toMultiValue(this, "csv") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        ordering?.apply { localVariableQuery["ordering"] = listOf("$ordering") }
        previous?.apply { localVariableQuery["previous"] = listOf("$previous") }
        program?.apply { localVariableQuery["program"] = toMultiValue(this, "multi") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        slug?.apply { localVariableQuery["slug"] = listOf("$slug") }
        type?.apply { localVariableQuery["type"] = listOf("$type") }
        typeIds?.apply { localVariableQuery["type__ids"] = toMultiValue(this, "csv") }
        upcoming?.apply { localVariableQuery["upcoming"] = listOf("$upcoming") }
        upcomingWithRecent?.apply { localVariableQuery["upcoming_with_recent"] = listOf("$upcomingWithRecent") }
        videoUrl?.apply { localVariableQuery["video_url"] = toMultiValue(this, "csv") }
        year?.apply { localVariableQuery["year"] = toMultiValue(this, "csv") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/ll/2.4.0/events/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * #### Filters Parameters - &#x60;agency__ids&#x60;, &#x60;date__gt&#x60;, &#x60;date__gte&#x60;, &#x60;date__lt&#x60;, &#x60;date__lte&#x60;, &#x60;day&#x60;, &#x60;id&#x60;, &#x60;last_updated__gte&#x60;, &#x60;last_updated__lte&#x60;, &#x60;month&#x60;, &#x60;previous&#x60;, &#x60;program&#x60;, &#x60;slug&#x60;, &#x60;type&#x60;, &#x60;type__ids&#x60;, &#x60;upcoming&#x60;, &#x60;upcoming_with_recent&#x60;, &#x60;video_url&#x60;, &#x60;year&#x60;  Example - [/events/mini/?type__ids&#x3D;2,8](./?type__ids&#x3D;2,8)  #### Search Fields searched - &#x60;name&#x60;  Example - [/events/mini/?search&#x3D;Flyby](./?search&#x3D;Flyby)  #### Ordering Fields - &#x60;date&#x60;, &#x60;last_updated&#x60;  Example - [/events/mini/?ordering&#x3D;-last_updated](./?ordering&#x3D;-last_updated)  #### Number of results Use &#x60;limit&#x60; to control the number of objects in the response (max 100)  Example - [/events/mini/?limit&#x3D;2](./?limit&#x3D;2)  #### Format Switch to JSON output - [/events/mini/?format&#x3D;json](./?format&#x3D;json)  #### Help Find all the FAQs and support links on the documentation homepage - [spacelaunchnow.app/docs](https://spacelaunchnow.app/docs/)
     * @param agencyIds Comma-separated agency IDs. (optional)
     * @param dateGt Date is greater than (optional)
     * @param dateGte Date is greater than or equal to (optional)
     * @param dateLt Date is less than (optional)
     * @param dateLte Date is less than or equal to (optional)
     * @param day Multiple values may be separated by commas. (optional)
     * @param id Multiple values may be separated by commas. (optional)
     * @param lastUpdatedGte Last Update is greater than or equal to (optional)
     * @param lastUpdatedLte Last Update is less than or equal to (optional)
     * @param limit Number of results to return per page. (optional)
     * @param month Multiple values may be separated by commas. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param ordering Which field to use when ordering the results. (optional)
     * @param previous Filter for events that have already occurred (up to current time). (optional)
     * @param program  (optional)
     * @param search A search term. (optional)
     * @param slug  (optional)
     * @param type  (optional)
     * @param typeIds Comma-separated event type IDs. (optional)
     * @param upcoming Filter for events upcoming within the next period (up to current time). (optional)
     * @param upcomingWithRecent Filter for events upcoming within the next period (from 1 day ago onwards). (optional)
     * @param videoUrl Comma-separated video URLs. (optional)
     * @param year Multiple values may be separated by commas. (optional)
     * @return PaginatedEventEndpointListList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun eventsMiniList(agencyIds: kotlin.collections.List<kotlin.Int>? = null, dateGt: kotlinx.datetime.Instant? = null, dateGte: kotlinx.datetime.Instant? = null, dateLt: kotlinx.datetime.Instant? = null, dateLte: kotlinx.datetime.Instant? = null, day: kotlin.collections.List<kotlin.Double>? = null, id: kotlin.collections.List<kotlin.Int>? = null, lastUpdatedGte: kotlinx.datetime.Instant? = null, lastUpdatedLte: kotlinx.datetime.Instant? = null, limit: kotlin.Int? = null, month: kotlin.collections.List<kotlin.Double>? = null, offset: kotlin.Int? = null, ordering: kotlin.String? = null, previous: kotlin.Boolean? = null, program: kotlin.collections.List<kotlin.Int>? = null, search: kotlin.String? = null, slug: kotlin.String? = null, type: kotlin.Int? = null, typeIds: kotlin.collections.List<kotlin.Int>? = null, upcoming: kotlin.Boolean? = null, upcomingWithRecent: kotlin.Boolean? = null, videoUrl: kotlin.collections.List<kotlin.String>? = null, year: kotlin.collections.List<kotlin.Double>? = null): HttpResponse<PaginatedEventEndpointListList> {

        val localVariableAuthNames = listOf<String>("basicAuth", "tokenAuth", "cookieAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        agencyIds?.apply { localVariableQuery["agency__ids"] = toMultiValue(this, "csv") }
        dateGt?.apply { localVariableQuery["date__gt"] = listOf("$dateGt") }
        dateGte?.apply { localVariableQuery["date__gte"] = listOf("$dateGte") }
        dateLt?.apply { localVariableQuery["date__lt"] = listOf("$dateLt") }
        dateLte?.apply { localVariableQuery["date__lte"] = listOf("$dateLte") }
        day?.apply { localVariableQuery["day"] = toMultiValue(this, "csv") }
        id?.apply { localVariableQuery["id"] = toMultiValue(this, "csv") }
        lastUpdatedGte?.apply { localVariableQuery["last_updated__gte"] = listOf("$lastUpdatedGte") }
        lastUpdatedLte?.apply { localVariableQuery["last_updated__lte"] = listOf("$lastUpdatedLte") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        month?.apply { localVariableQuery["month"] = toMultiValue(this, "csv") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        ordering?.apply { localVariableQuery["ordering"] = listOf("$ordering") }
        previous?.apply { localVariableQuery["previous"] = listOf("$previous") }
        program?.apply { localVariableQuery["program"] = toMultiValue(this, "multi") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        slug?.apply { localVariableQuery["slug"] = listOf("$slug") }
        type?.apply { localVariableQuery["type"] = listOf("$type") }
        typeIds?.apply { localVariableQuery["type__ids"] = toMultiValue(this, "csv") }
        upcoming?.apply { localVariableQuery["upcoming"] = listOf("$upcoming") }
        upcomingWithRecent?.apply { localVariableQuery["upcoming_with_recent"] = listOf("$upcomingWithRecent") }
        videoUrl?.apply { localVariableQuery["video_url"] = toMultiValue(this, "csv") }
        year?.apply { localVariableQuery["year"] = toMultiValue(this, "csv") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/ll/2.4.0/events/mini/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * #### Filters Parameters - &#x60;agency__ids&#x60;, &#x60;date__gt&#x60;, &#x60;date__gte&#x60;, &#x60;date__lt&#x60;, &#x60;date__lte&#x60;, &#x60;day&#x60;, &#x60;id&#x60;, &#x60;last_updated__gte&#x60;, &#x60;last_updated__lte&#x60;, &#x60;month&#x60;, &#x60;previous&#x60;, &#x60;program&#x60;, &#x60;slug&#x60;, &#x60;type&#x60;, &#x60;type__ids&#x60;, &#x60;upcoming&#x60;, &#x60;upcoming_with_recent&#x60;, &#x60;video_url&#x60;, &#x60;year&#x60;  Example - [/events/?type__ids&#x3D;2,8](./?type__ids&#x3D;2,8)  #### Search Fields searched - &#x60;name&#x60;  Example - [/events/?search&#x3D;Flyby](./?search&#x3D;Flyby)  #### Ordering Fields - &#x60;date&#x60;, &#x60;last_updated&#x60;  Example - [/events/?ordering&#x3D;-last_updated](./?ordering&#x3D;-last_updated)  #### Number of results Use &#x60;limit&#x60; to control the number of objects in the response (max 100)  Example - [/events/?limit&#x3D;2](./?limit&#x3D;2)  #### Format Switch to JSON output - [/events/?format&#x3D;json](./?format&#x3D;json)  #### Help Find all the FAQs and support links on the documentation homepage - [spacelaunchnow.app/docs](https://spacelaunchnow.app/docs/)
     * @param id A unique integer value identifying this Event.
     * @return EventEndpointDetailed
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun eventsRetrieve(id: kotlin.Int): HttpResponse<EventEndpointDetailed> {

        val localVariableAuthNames = listOf<String>("basicAuth", "tokenAuth", "cookieAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/ll/2.4.0/events/{id}/".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
