/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package me.calebjones.spacelaunchnow.api.launchlibrary.apis

import me.calebjones.spacelaunchnow.api.launchlibrary.models.LandingEndpointDetailed
import me.calebjones.spacelaunchnow.api.launchlibrary.models.PaginatedLandingEndpointDetailedList
import me.calebjones.spacelaunchnow.api.launchlibrary.models.PaginatedLandingEndpointListList
import me.calebjones.spacelaunchnow.api.launchlibrary.models.PaginatedLandingEndpointNormalList

import me.calebjones.spacelaunchnow.api.launchlibrary.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class LandingsApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * 
     * #### Filters Parameters - &#x60;attempt&#x60;, &#x60;firststage_launch__ids&#x60;, &#x60;landing_location__ids&#x60;, &#x60;landing_type__ids&#x60;, &#x60;launcher__ids&#x60;, &#x60;launcher_config__ids&#x60;, &#x60;launcher_serial_numbers&#x60;, &#x60;spacecraft__ids&#x60;, &#x60;spacecraft_config__ids&#x60;, &#x60;spacecraft_launch__ids&#x60;, &#x60;success&#x60;  Example - [/landings/detailed/?spacecraft__ids&#x3D;39,37](./?spacecraft__ids&#x3D;39,37)  #### Search Fields searched - &#x60;firststage__launcher__launcher_config__name&#x60;, &#x60;firststage__launcher__serial_number&#x60;, &#x60;firststage__rocket__launch__name&#x60;, &#x60;landing_location__abbrev&#x60;, &#x60;landing_location__name&#x60;, &#x60;spacecraftflight__rocket__launch__name&#x60;, &#x60;spacecraftflight__spacecraft__name&#x60;, &#x60;spacecraftflight__spacecraft__serial_number&#x60;, &#x60;spacecraftflight__spacecraft__spacecraft_config__name&#x60;  Example - [/landings/detailed/?search&#x3D;B1059](./?search&#x3D;B1059)  #### Ordering Fields - &#x60;downrange_distance&#x60;, &#x60;id&#x60;  Example - [/landings/detailed/?ordering&#x3D;downrange_distance](./?ordering&#x3D;downrange_distance)  #### Number of results Use &#x60;limit&#x60; to control the number of objects in the response (max 100)  Example - [/landings/detailed/?limit&#x3D;2](./?limit&#x3D;2)  #### Format Switch to JSON output - [/landings/detailed/?format&#x3D;json](./?format&#x3D;json)  #### Help Find all the FAQs and support links on the documentation homepage - [spacelaunchnow.app/docs](https://spacelaunchnow.app/docs/)
     * @param attempt  (optional)
     * @param firststageLaunchIds Multiple values may be separated by commas. (optional)
     * @param landingLocationIds Multiple values may be separated by commas. (optional)
     * @param landingTypeIds Multiple values may be separated by commas. (optional)
     * @param launcherIds Multiple values may be separated by commas. (optional)
     * @param launcherConfigIds Multiple values may be separated by commas. (optional)
     * @param launcherSerialNumbers Multiple values may be separated by commas. (optional)
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param ordering Which field to use when ordering the results. (optional)
     * @param search A search term. (optional)
     * @param spacecraftIds Multiple values may be separated by commas. (optional)
     * @param spacecraftConfigIds Multiple values may be separated by commas. (optional)
     * @param spacecraftLaunchIds Multiple values may be separated by commas. (optional)
     * @param success  (optional)
     * @return PaginatedLandingEndpointDetailedList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun landingsDetailedList(attempt: kotlin.Boolean? = null, firststageLaunchIds: kotlin.collections.List<kotlin.String>? = null, landingLocationIds: kotlin.collections.List<kotlin.Int>? = null, landingTypeIds: kotlin.collections.List<kotlin.Int>? = null, launcherIds: kotlin.collections.List<kotlin.Int>? = null, launcherConfigIds: kotlin.collections.List<kotlin.Int>? = null, launcherSerialNumbers: kotlin.collections.List<kotlin.String>? = null, limit: kotlin.Int? = null, offset: kotlin.Int? = null, ordering: kotlin.String? = null, search: kotlin.String? = null, spacecraftIds: kotlin.collections.List<kotlin.Int>? = null, spacecraftConfigIds: kotlin.collections.List<kotlin.Int>? = null, spacecraftLaunchIds: kotlin.collections.List<kotlin.String>? = null, success: kotlin.Boolean? = null): HttpResponse<PaginatedLandingEndpointDetailedList> {

        val localVariableAuthNames = listOf<String>("basicAuth", "tokenAuth", "cookieAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        attempt?.apply { localVariableQuery["attempt"] = listOf("$attempt") }
        firststageLaunchIds?.apply { localVariableQuery["firststage_launch__ids"] = toMultiValue(this, "csv") }
        landingLocationIds?.apply { localVariableQuery["landing_location__ids"] = toMultiValue(this, "csv") }
        landingTypeIds?.apply { localVariableQuery["landing_type__ids"] = toMultiValue(this, "csv") }
        launcherIds?.apply { localVariableQuery["launcher__ids"] = toMultiValue(this, "csv") }
        launcherConfigIds?.apply { localVariableQuery["launcher_config__ids"] = toMultiValue(this, "csv") }
        launcherSerialNumbers?.apply { localVariableQuery["launcher_serial_numbers"] = toMultiValue(this, "csv") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        ordering?.apply { localVariableQuery["ordering"] = listOf("$ordering") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        spacecraftIds?.apply { localVariableQuery["spacecraft__ids"] = toMultiValue(this, "csv") }
        spacecraftConfigIds?.apply { localVariableQuery["spacecraft_config__ids"] = toMultiValue(this, "csv") }
        spacecraftLaunchIds?.apply { localVariableQuery["spacecraft_launch__ids"] = toMultiValue(this, "csv") }
        success?.apply { localVariableQuery["success"] = listOf("$success") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/ll/2.4.0/landings/detailed/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * #### Filters Parameters - &#x60;attempt&#x60;, &#x60;firststage_launch__ids&#x60;, &#x60;landing_location__ids&#x60;, &#x60;landing_type__ids&#x60;, &#x60;launcher__ids&#x60;, &#x60;launcher_config__ids&#x60;, &#x60;launcher_serial_numbers&#x60;, &#x60;spacecraft__ids&#x60;, &#x60;spacecraft_config__ids&#x60;, &#x60;spacecraft_launch__ids&#x60;, &#x60;success&#x60;  Example - [/landings/?spacecraft__ids&#x3D;39,37](./?spacecraft__ids&#x3D;39,37)  #### Search Fields searched - &#x60;firststage__launcher__launcher_config__name&#x60;, &#x60;firststage__launcher__serial_number&#x60;, &#x60;firststage__rocket__launch__name&#x60;, &#x60;landing_location__abbrev&#x60;, &#x60;landing_location__name&#x60;, &#x60;spacecraftflight__rocket__launch__name&#x60;, &#x60;spacecraftflight__spacecraft__name&#x60;, &#x60;spacecraftflight__spacecraft__serial_number&#x60;, &#x60;spacecraftflight__spacecraft__spacecraft_config__name&#x60;  Example - [/landings/?search&#x3D;B1059](./?search&#x3D;B1059)  #### Ordering Fields - &#x60;downrange_distance&#x60;, &#x60;id&#x60;  Example - [/landings/?ordering&#x3D;downrange_distance](./?ordering&#x3D;downrange_distance)  #### Number of results Use &#x60;limit&#x60; to control the number of objects in the response (max 100)  Example - [/landings/?limit&#x3D;2](./?limit&#x3D;2)  #### Format Switch to JSON output - [/landings/?format&#x3D;json](./?format&#x3D;json)  #### Help Find all the FAQs and support links on the documentation homepage - [spacelaunchnow.app/docs](https://spacelaunchnow.app/docs/)
     * @param attempt  (optional)
     * @param firststageLaunchIds Multiple values may be separated by commas. (optional)
     * @param landingLocationIds Multiple values may be separated by commas. (optional)
     * @param landingTypeIds Multiple values may be separated by commas. (optional)
     * @param launcherIds Multiple values may be separated by commas. (optional)
     * @param launcherConfigIds Multiple values may be separated by commas. (optional)
     * @param launcherSerialNumbers Multiple values may be separated by commas. (optional)
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param ordering Which field to use when ordering the results. (optional)
     * @param search A search term. (optional)
     * @param spacecraftIds Multiple values may be separated by commas. (optional)
     * @param spacecraftConfigIds Multiple values may be separated by commas. (optional)
     * @param spacecraftLaunchIds Multiple values may be separated by commas. (optional)
     * @param success  (optional)
     * @return PaginatedLandingEndpointNormalList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun landingsList(attempt: kotlin.Boolean? = null, firststageLaunchIds: kotlin.collections.List<kotlin.String>? = null, landingLocationIds: kotlin.collections.List<kotlin.Int>? = null, landingTypeIds: kotlin.collections.List<kotlin.Int>? = null, launcherIds: kotlin.collections.List<kotlin.Int>? = null, launcherConfigIds: kotlin.collections.List<kotlin.Int>? = null, launcherSerialNumbers: kotlin.collections.List<kotlin.String>? = null, limit: kotlin.Int? = null, offset: kotlin.Int? = null, ordering: kotlin.String? = null, search: kotlin.String? = null, spacecraftIds: kotlin.collections.List<kotlin.Int>? = null, spacecraftConfigIds: kotlin.collections.List<kotlin.Int>? = null, spacecraftLaunchIds: kotlin.collections.List<kotlin.String>? = null, success: kotlin.Boolean? = null): HttpResponse<PaginatedLandingEndpointNormalList> {

        val localVariableAuthNames = listOf<String>("basicAuth", "tokenAuth", "cookieAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        attempt?.apply { localVariableQuery["attempt"] = listOf("$attempt") }
        firststageLaunchIds?.apply { localVariableQuery["firststage_launch__ids"] = toMultiValue(this, "csv") }
        landingLocationIds?.apply { localVariableQuery["landing_location__ids"] = toMultiValue(this, "csv") }
        landingTypeIds?.apply { localVariableQuery["landing_type__ids"] = toMultiValue(this, "csv") }
        launcherIds?.apply { localVariableQuery["launcher__ids"] = toMultiValue(this, "csv") }
        launcherConfigIds?.apply { localVariableQuery["launcher_config__ids"] = toMultiValue(this, "csv") }
        launcherSerialNumbers?.apply { localVariableQuery["launcher_serial_numbers"] = toMultiValue(this, "csv") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        ordering?.apply { localVariableQuery["ordering"] = listOf("$ordering") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        spacecraftIds?.apply { localVariableQuery["spacecraft__ids"] = toMultiValue(this, "csv") }
        spacecraftConfigIds?.apply { localVariableQuery["spacecraft_config__ids"] = toMultiValue(this, "csv") }
        spacecraftLaunchIds?.apply { localVariableQuery["spacecraft_launch__ids"] = toMultiValue(this, "csv") }
        success?.apply { localVariableQuery["success"] = listOf("$success") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/ll/2.4.0/landings/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * #### Filters Parameters - &#x60;attempt&#x60;, &#x60;firststage_launch__ids&#x60;, &#x60;landing_location__ids&#x60;, &#x60;landing_type__ids&#x60;, &#x60;launcher__ids&#x60;, &#x60;launcher_config__ids&#x60;, &#x60;launcher_serial_numbers&#x60;, &#x60;spacecraft__ids&#x60;, &#x60;spacecraft_config__ids&#x60;, &#x60;spacecraft_launch__ids&#x60;, &#x60;success&#x60;  Example - [/landings/mini/?spacecraft__ids&#x3D;39,37](./?spacecraft__ids&#x3D;39,37)  #### Search Fields searched - &#x60;firststage__launcher__launcher_config__name&#x60;, &#x60;firststage__launcher__serial_number&#x60;, &#x60;firststage__rocket__launch__name&#x60;, &#x60;landing_location__abbrev&#x60;, &#x60;landing_location__name&#x60;, &#x60;spacecraftflight__rocket__launch__name&#x60;, &#x60;spacecraftflight__spacecraft__name&#x60;, &#x60;spacecraftflight__spacecraft__serial_number&#x60;, &#x60;spacecraftflight__spacecraft__spacecraft_config__name&#x60;  Example - [/landings/mini/?search&#x3D;B1059](./?search&#x3D;B1059)  #### Ordering Fields - &#x60;downrange_distance&#x60;, &#x60;id&#x60;  Example - [/landings/mini/?ordering&#x3D;downrange_distance](./?ordering&#x3D;downrange_distance)  #### Number of results Use &#x60;limit&#x60; to control the number of objects in the response (max 100)  Example - [/landings/mini/?limit&#x3D;2](./?limit&#x3D;2)  #### Format Switch to JSON output - [/landings/mini/?format&#x3D;json](./?format&#x3D;json)  #### Help Find all the FAQs and support links on the documentation homepage - [spacelaunchnow.app/docs](https://spacelaunchnow.app/docs/)
     * @param attempt  (optional)
     * @param firststageLaunchIds Multiple values may be separated by commas. (optional)
     * @param landingLocationIds Multiple values may be separated by commas. (optional)
     * @param landingTypeIds Multiple values may be separated by commas. (optional)
     * @param launcherIds Multiple values may be separated by commas. (optional)
     * @param launcherConfigIds Multiple values may be separated by commas. (optional)
     * @param launcherSerialNumbers Multiple values may be separated by commas. (optional)
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param ordering Which field to use when ordering the results. (optional)
     * @param search A search term. (optional)
     * @param spacecraftIds Multiple values may be separated by commas. (optional)
     * @param spacecraftConfigIds Multiple values may be separated by commas. (optional)
     * @param spacecraftLaunchIds Multiple values may be separated by commas. (optional)
     * @param success  (optional)
     * @return PaginatedLandingEndpointListList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun landingsMiniList(attempt: kotlin.Boolean? = null, firststageLaunchIds: kotlin.collections.List<kotlin.String>? = null, landingLocationIds: kotlin.collections.List<kotlin.Int>? = null, landingTypeIds: kotlin.collections.List<kotlin.Int>? = null, launcherIds: kotlin.collections.List<kotlin.Int>? = null, launcherConfigIds: kotlin.collections.List<kotlin.Int>? = null, launcherSerialNumbers: kotlin.collections.List<kotlin.String>? = null, limit: kotlin.Int? = null, offset: kotlin.Int? = null, ordering: kotlin.String? = null, search: kotlin.String? = null, spacecraftIds: kotlin.collections.List<kotlin.Int>? = null, spacecraftConfigIds: kotlin.collections.List<kotlin.Int>? = null, spacecraftLaunchIds: kotlin.collections.List<kotlin.String>? = null, success: kotlin.Boolean? = null): HttpResponse<PaginatedLandingEndpointListList> {

        val localVariableAuthNames = listOf<String>("basicAuth", "tokenAuth", "cookieAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        attempt?.apply { localVariableQuery["attempt"] = listOf("$attempt") }
        firststageLaunchIds?.apply { localVariableQuery["firststage_launch__ids"] = toMultiValue(this, "csv") }
        landingLocationIds?.apply { localVariableQuery["landing_location__ids"] = toMultiValue(this, "csv") }
        landingTypeIds?.apply { localVariableQuery["landing_type__ids"] = toMultiValue(this, "csv") }
        launcherIds?.apply { localVariableQuery["launcher__ids"] = toMultiValue(this, "csv") }
        launcherConfigIds?.apply { localVariableQuery["launcher_config__ids"] = toMultiValue(this, "csv") }
        launcherSerialNumbers?.apply { localVariableQuery["launcher_serial_numbers"] = toMultiValue(this, "csv") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        ordering?.apply { localVariableQuery["ordering"] = listOf("$ordering") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        spacecraftIds?.apply { localVariableQuery["spacecraft__ids"] = toMultiValue(this, "csv") }
        spacecraftConfigIds?.apply { localVariableQuery["spacecraft_config__ids"] = toMultiValue(this, "csv") }
        spacecraftLaunchIds?.apply { localVariableQuery["spacecraft_launch__ids"] = toMultiValue(this, "csv") }
        success?.apply { localVariableQuery["success"] = listOf("$success") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/ll/2.4.0/landings/mini/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * #### Filters Parameters - &#x60;attempt&#x60;, &#x60;firststage_launch__ids&#x60;, &#x60;landing_location__ids&#x60;, &#x60;landing_type__ids&#x60;, &#x60;launcher__ids&#x60;, &#x60;launcher_config__ids&#x60;, &#x60;launcher_serial_numbers&#x60;, &#x60;spacecraft__ids&#x60;, &#x60;spacecraft_config__ids&#x60;, &#x60;spacecraft_launch__ids&#x60;, &#x60;success&#x60;  Example - [/landings/?spacecraft__ids&#x3D;39,37](./?spacecraft__ids&#x3D;39,37)  #### Search Fields searched - &#x60;firststage__launcher__launcher_config__name&#x60;, &#x60;firststage__launcher__serial_number&#x60;, &#x60;firststage__rocket__launch__name&#x60;, &#x60;landing_location__abbrev&#x60;, &#x60;landing_location__name&#x60;, &#x60;spacecraftflight__rocket__launch__name&#x60;, &#x60;spacecraftflight__spacecraft__name&#x60;, &#x60;spacecraftflight__spacecraft__serial_number&#x60;, &#x60;spacecraftflight__spacecraft__spacecraft_config__name&#x60;  Example - [/landings/?search&#x3D;B1059](./?search&#x3D;B1059)  #### Ordering Fields - &#x60;downrange_distance&#x60;, &#x60;id&#x60;  Example - [/landings/?ordering&#x3D;downrange_distance](./?ordering&#x3D;downrange_distance)  #### Number of results Use &#x60;limit&#x60; to control the number of objects in the response (max 100)  Example - [/landings/?limit&#x3D;2](./?limit&#x3D;2)  #### Format Switch to JSON output - [/landings/?format&#x3D;json](./?format&#x3D;json)  #### Help Find all the FAQs and support links on the documentation homepage - [spacelaunchnow.app/docs](https://spacelaunchnow.app/docs/)
     * @param id A unique integer value identifying this landing.
     * @return LandingEndpointDetailed
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun landingsRetrieve(id: kotlin.Int): HttpResponse<LandingEndpointDetailed> {

        val localVariableAuthNames = listOf<String>("basicAuth", "tokenAuth", "cookieAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/ll/2.4.0/landings/{id}/".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
