/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package me.calebjones.spacelaunchnow.api.launchlibrary.apis

import me.calebjones.spacelaunchnow.api.launchlibrary.models.MissionPatchDetailed
import me.calebjones.spacelaunchnow.api.launchlibrary.models.PaginatedMissionPatchDetailedList
import me.calebjones.spacelaunchnow.api.launchlibrary.models.PaginatedMissionPatchList

import me.calebjones.spacelaunchnow.api.launchlibrary.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class MissionPatchesApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * 
     * #### Filters Parameters - &#x60;agency__id&#x60;, &#x60;agency__name&#x60;, &#x60;agency__name__contains&#x60;, &#x60;id&#x60;, &#x60;ids&#x60;, &#x60;name&#x60;, &#x60;name__contains&#x60;  Example - [/mission_patches/detailed/?agency__id&#x3D;147](./?agency__id&#x3D;147)  #### Search Fields searched - &#x60;agency__name&#x60;, &#x60;name&#x60;  Example - [/mission_patches/detailed/?search&#x3D;Ariane](./?search&#x3D;Ariane)  #### Ordering Fields - &#x60;agency__name&#x60;, &#x60;id&#x60;, &#x60;name&#x60;, &#x60;priority&#x60;  Example - [/mission_patches/detailed/?ordering&#x3D;priority](./?ordering&#x3D;priority)  #### Number of results Use &#x60;limit&#x60; to control the number of objects in the response (max 100)  Example - [/mission_patches/detailed/?limit&#x3D;2](./?limit&#x3D;2)  #### Format Switch to JSON output - [/mission_patches/detailed/?format&#x3D;json](./?format&#x3D;json)  #### Help Find all the FAQs and support links on the documentation homepage - [spacelaunchnow.app/docs](https://spacelaunchnow.app/docs/)
     * @param agencyId  (optional)
     * @param agencyName  (optional)
     * @param agencyNameContains  (optional)
     * @param id  (optional)
     * @param ids Comma-separated mission patch IDs. (optional)
     * @param limit Number of results to return per page. (optional)
     * @param name  (optional)
     * @param nameContains  (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param ordering Which field to use when ordering the results. (optional)
     * @param search A search term. (optional)
     * @return PaginatedMissionPatchDetailedList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun missionPatchesDetailedList(agencyId: kotlin.Int? = null, agencyName: kotlin.String? = null, agencyNameContains: kotlin.String? = null, id: kotlin.Int? = null, ids: kotlin.collections.List<kotlin.Int>? = null, limit: kotlin.Int? = null, name: kotlin.String? = null, nameContains: kotlin.String? = null, offset: kotlin.Int? = null, ordering: kotlin.String? = null, search: kotlin.String? = null): HttpResponse<PaginatedMissionPatchDetailedList> {

        val localVariableAuthNames = listOf<String>("basicAuth", "tokenAuth", "cookieAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        agencyId?.apply { localVariableQuery["agency__id"] = listOf("$agencyId") }
        agencyName?.apply { localVariableQuery["agency__name"] = listOf("$agencyName") }
        agencyNameContains?.apply { localVariableQuery["agency__name__contains"] = listOf("$agencyNameContains") }
        id?.apply { localVariableQuery["id"] = listOf("$id") }
        ids?.apply { localVariableQuery["ids"] = toMultiValue(this, "csv") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        name?.apply { localVariableQuery["name"] = listOf("$name") }
        nameContains?.apply { localVariableQuery["name__contains"] = listOf("$nameContains") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        ordering?.apply { localVariableQuery["ordering"] = listOf("$ordering") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/ll/2.4.0/mission_patches/detailed/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * #### Filters Parameters - &#x60;agency__id&#x60;, &#x60;agency__name&#x60;, &#x60;agency__name__contains&#x60;, &#x60;id&#x60;, &#x60;ids&#x60;, &#x60;name&#x60;, &#x60;name__contains&#x60;  Example - [/mission_patches/?agency__id&#x3D;147](./?agency__id&#x3D;147)  #### Search Fields searched - &#x60;agency__name&#x60;, &#x60;name&#x60;  Example - [/mission_patches/?search&#x3D;Ariane](./?search&#x3D;Ariane)  #### Ordering Fields - &#x60;agency__name&#x60;, &#x60;id&#x60;, &#x60;name&#x60;, &#x60;priority&#x60;  Example - [/mission_patches/?ordering&#x3D;priority](./?ordering&#x3D;priority)  #### Number of results Use &#x60;limit&#x60; to control the number of objects in the response (max 100)  Example - [/mission_patches/?limit&#x3D;2](./?limit&#x3D;2)  #### Format Switch to JSON output - [/mission_patches/?format&#x3D;json](./?format&#x3D;json)  #### Help Find all the FAQs and support links on the documentation homepage - [spacelaunchnow.app/docs](https://spacelaunchnow.app/docs/)
     * @param agencyId  (optional)
     * @param agencyName  (optional)
     * @param agencyNameContains  (optional)
     * @param id  (optional)
     * @param ids Comma-separated mission patch IDs. (optional)
     * @param limit Number of results to return per page. (optional)
     * @param name  (optional)
     * @param nameContains  (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param ordering Which field to use when ordering the results. (optional)
     * @param search A search term. (optional)
     * @return PaginatedMissionPatchList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun missionPatchesList(agencyId: kotlin.Int? = null, agencyName: kotlin.String? = null, agencyNameContains: kotlin.String? = null, id: kotlin.Int? = null, ids: kotlin.collections.List<kotlin.Int>? = null, limit: kotlin.Int? = null, name: kotlin.String? = null, nameContains: kotlin.String? = null, offset: kotlin.Int? = null, ordering: kotlin.String? = null, search: kotlin.String? = null): HttpResponse<PaginatedMissionPatchList> {

        val localVariableAuthNames = listOf<String>("basicAuth", "tokenAuth", "cookieAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        agencyId?.apply { localVariableQuery["agency__id"] = listOf("$agencyId") }
        agencyName?.apply { localVariableQuery["agency__name"] = listOf("$agencyName") }
        agencyNameContains?.apply { localVariableQuery["agency__name__contains"] = listOf("$agencyNameContains") }
        id?.apply { localVariableQuery["id"] = listOf("$id") }
        ids?.apply { localVariableQuery["ids"] = toMultiValue(this, "csv") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        name?.apply { localVariableQuery["name"] = listOf("$name") }
        nameContains?.apply { localVariableQuery["name__contains"] = listOf("$nameContains") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        ordering?.apply { localVariableQuery["ordering"] = listOf("$ordering") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/ll/2.4.0/mission_patches/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * #### Filters Parameters - &#x60;agency__id&#x60;, &#x60;agency__name&#x60;, &#x60;agency__name__contains&#x60;, &#x60;id&#x60;, &#x60;ids&#x60;, &#x60;name&#x60;, &#x60;name__contains&#x60;  Example - [/mission_patches/?agency__id&#x3D;147](./?agency__id&#x3D;147)  #### Search Fields searched - &#x60;agency__name&#x60;, &#x60;name&#x60;  Example - [/mission_patches/?search&#x3D;Ariane](./?search&#x3D;Ariane)  #### Ordering Fields - &#x60;agency__name&#x60;, &#x60;id&#x60;, &#x60;name&#x60;, &#x60;priority&#x60;  Example - [/mission_patches/?ordering&#x3D;priority](./?ordering&#x3D;priority)  #### Number of results Use &#x60;limit&#x60; to control the number of objects in the response (max 100)  Example - [/mission_patches/?limit&#x3D;2](./?limit&#x3D;2)  #### Format Switch to JSON output - [/mission_patches/?format&#x3D;json](./?format&#x3D;json)  #### Help Find all the FAQs and support links on the documentation homepage - [spacelaunchnow.app/docs](https://spacelaunchnow.app/docs/)
     * @param id A unique integer value identifying this Mission Patch.
     * @return MissionPatchDetailed
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun missionPatchesRetrieve(id: kotlin.Int): HttpResponse<MissionPatchDetailed> {

        val localVariableAuthNames = listOf<String>("basicAuth", "tokenAuth", "cookieAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/ll/2.4.0/mission_patches/{id}/".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
