/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package me.calebjones.spacelaunchnow.api.launchlibrary.apis

import me.calebjones.spacelaunchnow.api.launchlibrary.models.PaginatedPayloadDetailedList
import me.calebjones.spacelaunchnow.api.launchlibrary.models.PaginatedPayloadMiniList
import me.calebjones.spacelaunchnow.api.launchlibrary.models.PaginatedPayloadNormalList
import me.calebjones.spacelaunchnow.api.launchlibrary.models.PayloadDetailed

import me.calebjones.spacelaunchnow.api.launchlibrary.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class PayloadsApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * 
     * #### Filters Parameters - &#x60;manufacturer__id&#x60;, &#x60;manufacturer__name&#x60;, &#x60;name&#x60;, &#x60;operator&#x60;, &#x60;operator__id&#x60;, &#x60;operator__name&#x60;, &#x60;program__id&#x60;  Example - [/payloads/detailed/?program__id&#x3D;18](./?program__id&#x3D;18)  #### Search Fields searched - &#x60;manufacturer__name&#x60;, &#x60;name&#x60;, &#x60;operator__name&#x60;, &#x60;payloadflight__destination&#x60;, &#x60;payloadflight__rocket__launch__name&#x60;  Example - [/payloads/detailed/?search&#x3D;EarthCare](./?search&#x3D;EarthCare)  #### Ordering Fields - &#x60;id&#x60;, &#x60;name&#x60;, &#x60;payloadflight__rocket__launch__net&#x60;  Example - [/payloads/detailed/?ordering&#x3D;-payloadflight__rocket__launch__net](./?ordering&#x3D;-payloadflight__rocket__launch__net)  #### Number of results Use &#x60;limit&#x60; to control the number of objects in the response (max 100)  Example - [/payloads/detailed/?limit&#x3D;2](./?limit&#x3D;2)  #### Format Switch to JSON output - [/payloads/detailed/?format&#x3D;json](./?format&#x3D;json)  #### Help Find all the FAQs and support links on the documentation homepage - [spacelaunchnow.app/docs](https://spacelaunchnow.app/docs/)
     * @param limit Number of results to return per page. (optional)
     * @param manufacturerId  (optional)
     * @param manufacturerName  (optional)
     * @param name  (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param `operator`  (optional)
     * @param operatorId  (optional)
     * @param operatorName  (optional)
     * @param ordering Which field to use when ordering the results. (optional)
     * @param programId  (optional)
     * @param search A search term. (optional)
     * @return PaginatedPayloadDetailedList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun payloadsDetailedList(limit: kotlin.Int? = null, manufacturerId: kotlin.Int? = null, manufacturerName: kotlin.String? = null, name: kotlin.String? = null, offset: kotlin.Int? = null, `operator`: kotlin.Int? = null, operatorId: kotlin.Int? = null, operatorName: kotlin.String? = null, ordering: kotlin.String? = null, programId: kotlin.Int? = null, search: kotlin.String? = null): HttpResponse<PaginatedPayloadDetailedList> {

        val localVariableAuthNames = listOf<String>("basicAuth", "tokenAuth", "cookieAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        manufacturerId?.apply { localVariableQuery["manufacturer__id"] = listOf("$manufacturerId") }
        manufacturerName?.apply { localVariableQuery["manufacturer__name"] = listOf("$manufacturerName") }
        name?.apply { localVariableQuery["name"] = listOf("$name") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        `operator`?.apply { localVariableQuery["operator"] = listOf("$`operator`") }
        operatorId?.apply { localVariableQuery["operator__id"] = listOf("$operatorId") }
        operatorName?.apply { localVariableQuery["operator__name"] = listOf("$operatorName") }
        ordering?.apply { localVariableQuery["ordering"] = listOf("$ordering") }
        programId?.apply { localVariableQuery["program__id"] = listOf("$programId") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/ll/2.4.0/payloads/detailed/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * #### Filters Parameters - &#x60;manufacturer__id&#x60;, &#x60;manufacturer__name&#x60;, &#x60;name&#x60;, &#x60;operator&#x60;, &#x60;operator__id&#x60;, &#x60;operator__name&#x60;, &#x60;program__id&#x60;  Example - [/payloads/?program__id&#x3D;18](./?program__id&#x3D;18)  #### Search Fields searched - &#x60;manufacturer__name&#x60;, &#x60;name&#x60;, &#x60;operator__name&#x60;, &#x60;payloadflight__destination&#x60;, &#x60;payloadflight__rocket__launch__name&#x60;  Example - [/payloads/?search&#x3D;EarthCare](./?search&#x3D;EarthCare)  #### Ordering Fields - &#x60;id&#x60;, &#x60;name&#x60;, &#x60;payloadflight__rocket__launch__net&#x60;  Example - [/payloads/?ordering&#x3D;-payloadflight__rocket__launch__net](./?ordering&#x3D;-payloadflight__rocket__launch__net)  #### Number of results Use &#x60;limit&#x60; to control the number of objects in the response (max 100)  Example - [/payloads/?limit&#x3D;2](./?limit&#x3D;2)  #### Format Switch to JSON output - [/payloads/?format&#x3D;json](./?format&#x3D;json)  #### Help Find all the FAQs and support links on the documentation homepage - [spacelaunchnow.app/docs](https://spacelaunchnow.app/docs/)
     * @param limit Number of results to return per page. (optional)
     * @param manufacturerId  (optional)
     * @param manufacturerName  (optional)
     * @param name  (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param `operator`  (optional)
     * @param operatorId  (optional)
     * @param operatorName  (optional)
     * @param ordering Which field to use when ordering the results. (optional)
     * @param programId  (optional)
     * @param search A search term. (optional)
     * @return PaginatedPayloadNormalList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun payloadsList(limit: kotlin.Int? = null, manufacturerId: kotlin.Int? = null, manufacturerName: kotlin.String? = null, name: kotlin.String? = null, offset: kotlin.Int? = null, `operator`: kotlin.Int? = null, operatorId: kotlin.Int? = null, operatorName: kotlin.String? = null, ordering: kotlin.String? = null, programId: kotlin.Int? = null, search: kotlin.String? = null): HttpResponse<PaginatedPayloadNormalList> {

        val localVariableAuthNames = listOf<String>("basicAuth", "tokenAuth", "cookieAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        manufacturerId?.apply { localVariableQuery["manufacturer__id"] = listOf("$manufacturerId") }
        manufacturerName?.apply { localVariableQuery["manufacturer__name"] = listOf("$manufacturerName") }
        name?.apply { localVariableQuery["name"] = listOf("$name") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        `operator`?.apply { localVariableQuery["operator"] = listOf("$`operator`") }
        operatorId?.apply { localVariableQuery["operator__id"] = listOf("$operatorId") }
        operatorName?.apply { localVariableQuery["operator__name"] = listOf("$operatorName") }
        ordering?.apply { localVariableQuery["ordering"] = listOf("$ordering") }
        programId?.apply { localVariableQuery["program__id"] = listOf("$programId") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/ll/2.4.0/payloads/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * #### Filters Parameters - &#x60;manufacturer__id&#x60;, &#x60;manufacturer__name&#x60;, &#x60;name&#x60;, &#x60;operator&#x60;, &#x60;operator__id&#x60;, &#x60;operator__name&#x60;, &#x60;program__id&#x60;  Example - [/payloads/mini/?program__id&#x3D;18](./?program__id&#x3D;18)  #### Search Fields searched - &#x60;manufacturer__name&#x60;, &#x60;name&#x60;, &#x60;operator__name&#x60;, &#x60;payloadflight__destination&#x60;, &#x60;payloadflight__rocket__launch__name&#x60;  Example - [/payloads/mini/?search&#x3D;EarthCare](./?search&#x3D;EarthCare)  #### Ordering Fields - &#x60;id&#x60;, &#x60;name&#x60;, &#x60;payloadflight__rocket__launch__net&#x60;  Example - [/payloads/mini/?ordering&#x3D;-payloadflight__rocket__launch__net](./?ordering&#x3D;-payloadflight__rocket__launch__net)  #### Number of results Use &#x60;limit&#x60; to control the number of objects in the response (max 100)  Example - [/payloads/mini/?limit&#x3D;2](./?limit&#x3D;2)  #### Format Switch to JSON output - [/payloads/mini/?format&#x3D;json](./?format&#x3D;json)  #### Help Find all the FAQs and support links on the documentation homepage - [spacelaunchnow.app/docs](https://spacelaunchnow.app/docs/)
     * @param limit Number of results to return per page. (optional)
     * @param manufacturerId  (optional)
     * @param manufacturerName  (optional)
     * @param name  (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param `operator`  (optional)
     * @param operatorId  (optional)
     * @param operatorName  (optional)
     * @param ordering Which field to use when ordering the results. (optional)
     * @param programId  (optional)
     * @param search A search term. (optional)
     * @return PaginatedPayloadMiniList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun payloadsMiniList(limit: kotlin.Int? = null, manufacturerId: kotlin.Int? = null, manufacturerName: kotlin.String? = null, name: kotlin.String? = null, offset: kotlin.Int? = null, `operator`: kotlin.Int? = null, operatorId: kotlin.Int? = null, operatorName: kotlin.String? = null, ordering: kotlin.String? = null, programId: kotlin.Int? = null, search: kotlin.String? = null): HttpResponse<PaginatedPayloadMiniList> {

        val localVariableAuthNames = listOf<String>("basicAuth", "tokenAuth", "cookieAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        manufacturerId?.apply { localVariableQuery["manufacturer__id"] = listOf("$manufacturerId") }
        manufacturerName?.apply { localVariableQuery["manufacturer__name"] = listOf("$manufacturerName") }
        name?.apply { localVariableQuery["name"] = listOf("$name") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        `operator`?.apply { localVariableQuery["operator"] = listOf("$`operator`") }
        operatorId?.apply { localVariableQuery["operator__id"] = listOf("$operatorId") }
        operatorName?.apply { localVariableQuery["operator__name"] = listOf("$operatorName") }
        ordering?.apply { localVariableQuery["ordering"] = listOf("$ordering") }
        programId?.apply { localVariableQuery["program__id"] = listOf("$programId") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/ll/2.4.0/payloads/mini/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * #### Filters Parameters - &#x60;manufacturer__id&#x60;, &#x60;manufacturer__name&#x60;, &#x60;name&#x60;, &#x60;operator&#x60;, &#x60;operator__id&#x60;, &#x60;operator__name&#x60;, &#x60;program__id&#x60;  Example - [/payloads/?program__id&#x3D;18](./?program__id&#x3D;18)  #### Search Fields searched - &#x60;manufacturer__name&#x60;, &#x60;name&#x60;, &#x60;operator__name&#x60;, &#x60;payloadflight__destination&#x60;, &#x60;payloadflight__rocket__launch__name&#x60;  Example - [/payloads/?search&#x3D;EarthCare](./?search&#x3D;EarthCare)  #### Ordering Fields - &#x60;id&#x60;, &#x60;name&#x60;, &#x60;payloadflight__rocket__launch__net&#x60;  Example - [/payloads/?ordering&#x3D;-payloadflight__rocket__launch__net](./?ordering&#x3D;-payloadflight__rocket__launch__net)  #### Number of results Use &#x60;limit&#x60; to control the number of objects in the response (max 100)  Example - [/payloads/?limit&#x3D;2](./?limit&#x3D;2)  #### Format Switch to JSON output - [/payloads/?format&#x3D;json](./?format&#x3D;json)  #### Help Find all the FAQs and support links on the documentation homepage - [spacelaunchnow.app/docs](https://spacelaunchnow.app/docs/)
     * @param id A unique integer value identifying this payload.
     * @return PayloadDetailed
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun payloadsRetrieve(id: kotlin.Int): HttpResponse<PayloadDetailed> {

        val localVariableAuthNames = listOf<String>("basicAuth", "tokenAuth", "cookieAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/ll/2.4.0/payloads/{id}/".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
