/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package me.calebjones.spacelaunchnow.api.launchlibrary.apis

import me.calebjones.spacelaunchnow.api.launchlibrary.models.PaginatedProgramMiniList
import me.calebjones.spacelaunchnow.api.launchlibrary.models.PaginatedProgramNormalList
import me.calebjones.spacelaunchnow.api.launchlibrary.models.ProgramNormal

import me.calebjones.spacelaunchnow.api.launchlibrary.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class ProgramsApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * 
     * #### Search Fields searched - &#x60;description&#x60;, &#x60;name&#x60;  Example - [/programs/detailed/?search&#x3D;Apollo](./?search&#x3D;Apollo)  #### Ordering Fields - &#x60;end_date&#x60;, &#x60;id&#x60;, &#x60;name&#x60;, &#x60;start_date&#x60;  Example - [/programs/detailed/?ordering&#x3D;-start_date](./?ordering&#x3D;-start_date)  #### Number of results Use &#x60;limit&#x60; to control the number of objects in the response (max 100)  Example - [/programs/detailed/?limit&#x3D;2](./?limit&#x3D;2)  #### Format Switch to JSON output - [/programs/detailed/?format&#x3D;json](./?format&#x3D;json)  #### Help Find all the FAQs and support links on the documentation homepage - [spacelaunchnow.app/docs](https://spacelaunchnow.app/docs/)
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param ordering Which field to use when ordering the results. (optional)
     * @param search A search term. (optional)
     * @return PaginatedProgramNormalList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun programsDetailedList(limit: kotlin.Int? = null, offset: kotlin.Int? = null, ordering: kotlin.String? = null, search: kotlin.String? = null): HttpResponse<PaginatedProgramNormalList> {

        val localVariableAuthNames = listOf<String>("basicAuth", "tokenAuth", "cookieAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        ordering?.apply { localVariableQuery["ordering"] = listOf("$ordering") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/ll/2.4.0/programs/detailed/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * #### Search Fields searched - &#x60;description&#x60;, &#x60;name&#x60;  Example - [/programs/?search&#x3D;Apollo](./?search&#x3D;Apollo)  #### Ordering Fields - &#x60;end_date&#x60;, &#x60;id&#x60;, &#x60;name&#x60;, &#x60;start_date&#x60;  Example - [/programs/?ordering&#x3D;-start_date](./?ordering&#x3D;-start_date)  #### Number of results Use &#x60;limit&#x60; to control the number of objects in the response (max 100)  Example - [/programs/?limit&#x3D;2](./?limit&#x3D;2)  #### Format Switch to JSON output - [/programs/?format&#x3D;json](./?format&#x3D;json)  #### Help Find all the FAQs and support links on the documentation homepage - [spacelaunchnow.app/docs](https://spacelaunchnow.app/docs/)
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param ordering Which field to use when ordering the results. (optional)
     * @param search A search term. (optional)
     * @return PaginatedProgramNormalList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun programsList(limit: kotlin.Int? = null, offset: kotlin.Int? = null, ordering: kotlin.String? = null, search: kotlin.String? = null): HttpResponse<PaginatedProgramNormalList> {

        val localVariableAuthNames = listOf<String>("basicAuth", "tokenAuth", "cookieAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        ordering?.apply { localVariableQuery["ordering"] = listOf("$ordering") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/ll/2.4.0/programs/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * #### Search Fields searched - &#x60;description&#x60;, &#x60;name&#x60;  Example - [/programs/mini/?search&#x3D;Apollo](./?search&#x3D;Apollo)  #### Ordering Fields - &#x60;end_date&#x60;, &#x60;id&#x60;, &#x60;name&#x60;, &#x60;start_date&#x60;  Example - [/programs/mini/?ordering&#x3D;-start_date](./?ordering&#x3D;-start_date)  #### Number of results Use &#x60;limit&#x60; to control the number of objects in the response (max 100)  Example - [/programs/mini/?limit&#x3D;2](./?limit&#x3D;2)  #### Format Switch to JSON output - [/programs/mini/?format&#x3D;json](./?format&#x3D;json)  #### Help Find all the FAQs and support links on the documentation homepage - [spacelaunchnow.app/docs](https://spacelaunchnow.app/docs/)
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param ordering Which field to use when ordering the results. (optional)
     * @param search A search term. (optional)
     * @return PaginatedProgramMiniList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun programsMiniList(limit: kotlin.Int? = null, offset: kotlin.Int? = null, ordering: kotlin.String? = null, search: kotlin.String? = null): HttpResponse<PaginatedProgramMiniList> {

        val localVariableAuthNames = listOf<String>("basicAuth", "tokenAuth", "cookieAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        ordering?.apply { localVariableQuery["ordering"] = listOf("$ordering") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/ll/2.4.0/programs/mini/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * #### Search Fields searched - &#x60;description&#x60;, &#x60;name&#x60;  Example - [/programs/?search&#x3D;Apollo](./?search&#x3D;Apollo)  #### Ordering Fields - &#x60;end_date&#x60;, &#x60;id&#x60;, &#x60;name&#x60;, &#x60;start_date&#x60;  Example - [/programs/?ordering&#x3D;-start_date](./?ordering&#x3D;-start_date)  #### Number of results Use &#x60;limit&#x60; to control the number of objects in the response (max 100)  Example - [/programs/?limit&#x3D;2](./?limit&#x3D;2)  #### Format Switch to JSON output - [/programs/?format&#x3D;json](./?format&#x3D;json)  #### Help Find all the FAQs and support links on the documentation homepage - [spacelaunchnow.app/docs](https://spacelaunchnow.app/docs/)
     * @param id A unique integer value identifying this Program.
     * @return ProgramNormal
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun programsRetrieve(id: kotlin.Int): HttpResponse<ProgramNormal> {

        val localVariableAuthNames = listOf<String>("basicAuth", "tokenAuth", "cookieAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/ll/2.4.0/programs/{id}/".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
