/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package me.calebjones.spacelaunchnow.api.launchlibrary.apis

import me.calebjones.spacelaunchnow.api.launchlibrary.models.PaginatedRocketStandaloneNormalList
import me.calebjones.spacelaunchnow.api.launchlibrary.models.RocketStandaloneDetailed

import me.calebjones.spacelaunchnow.api.launchlibrary.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class RocketsApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * 
     * #### Filters Parameters - &#x60;configuration__full_name&#x60;, &#x60;configuration__full_name__icontains&#x60;, &#x60;configuration__ids&#x60;, &#x60;configuration__manufacturer__name&#x60;, &#x60;configuration__manufacturer__name__icontains&#x60;, &#x60;configuration__name&#x60;, &#x60;configuration__name__icontains&#x60;, &#x60;configuration_id&#x60;, &#x60;id&#x60;  Example - [/rockets/?configuration_id&#x3D;164](./?configuration_id&#x3D;164)  #### Search Fields searched - &#x60;configuration__full_name&#x60;, &#x60;configuration__manufacturer__name&#x60;, &#x60;configuration__name&#x60;, &#x60;launch__name&#x60;  Example - [/rockets/?search&#x3D;Falcon](./?search&#x3D;Falcon)  #### Ordering Fields - &#x60;configuration__name&#x60;, &#x60;id&#x60;  Example - [/rockets/?ordering&#x3D;-id](./?ordering&#x3D;-id)  #### Number of results Use &#x60;limit&#x60; to control the number of objects in the response (max 100)  Example - [/rockets/?limit&#x3D;2](./?limit&#x3D;2)  #### Format Switch to JSON output - [/rockets/?format&#x3D;json](./?format&#x3D;json)  #### Help Find all the FAQs and support links on the documentation homepage - [staging.spacelaunchnow.app/docs](https://staging.spacelaunchnow.app/docs/)
     * @param configurationFullName  (optional)
     * @param configurationFullNameIcontains  (optional)
     * @param configurationIds Comma-separated launcher configuration IDs. (optional)
     * @param configurationManufacturerName  (optional)
     * @param configurationManufacturerNameIcontains  (optional)
     * @param configurationName  (optional)
     * @param configurationNameIcontains  (optional)
     * @param configurationId Single launcher configuration ID. (optional)
     * @param id  (optional)
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param ordering Which field to use when ordering the results. (optional)
     * @param search A search term. (optional)
     * @return PaginatedRocketStandaloneNormalList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun rocketsList(configurationFullName: kotlin.String? = null, configurationFullNameIcontains: kotlin.String? = null, configurationIds: kotlin.collections.List<kotlin.Int>? = null, configurationManufacturerName: kotlin.String? = null, configurationManufacturerNameIcontains: kotlin.String? = null, configurationName: kotlin.String? = null, configurationNameIcontains: kotlin.String? = null, configurationId: kotlin.Int? = null, id: kotlin.Int? = null, limit: kotlin.Int? = null, offset: kotlin.Int? = null, ordering: kotlin.String? = null, search: kotlin.String? = null): HttpResponse<PaginatedRocketStandaloneNormalList> {

        val localVariableAuthNames = listOf<String>("basicAuth", "tokenAuth", "cookieAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        configurationFullName?.apply { localVariableQuery["configuration__full_name"] = listOf("$configurationFullName") }
        configurationFullNameIcontains?.apply { localVariableQuery["configuration__full_name__icontains"] = listOf("$configurationFullNameIcontains") }
        configurationIds?.apply { localVariableQuery["configuration__ids"] = toMultiValue(this, "csv") }
        configurationManufacturerName?.apply { localVariableQuery["configuration__manufacturer__name"] = listOf("$configurationManufacturerName") }
        configurationManufacturerNameIcontains?.apply { localVariableQuery["configuration__manufacturer__name__icontains"] = listOf("$configurationManufacturerNameIcontains") }
        configurationName?.apply { localVariableQuery["configuration__name"] = listOf("$configurationName") }
        configurationNameIcontains?.apply { localVariableQuery["configuration__name__icontains"] = listOf("$configurationNameIcontains") }
        configurationId?.apply { localVariableQuery["configuration_id"] = listOf("$configurationId") }
        id?.apply { localVariableQuery["id"] = listOf("$id") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        ordering?.apply { localVariableQuery["ordering"] = listOf("$ordering") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/ll/2.4.0/rockets/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * #### Filters Parameters - &#x60;configuration__full_name&#x60;, &#x60;configuration__full_name__icontains&#x60;, &#x60;configuration__ids&#x60;, &#x60;configuration__manufacturer__name&#x60;, &#x60;configuration__manufacturer__name__icontains&#x60;, &#x60;configuration__name&#x60;, &#x60;configuration__name__icontains&#x60;, &#x60;configuration_id&#x60;, &#x60;id&#x60;  Example - [/rockets/?configuration_id&#x3D;164](./?configuration_id&#x3D;164)  #### Search Fields searched - &#x60;configuration__full_name&#x60;, &#x60;configuration__manufacturer__name&#x60;, &#x60;configuration__name&#x60;, &#x60;launch__name&#x60;  Example - [/rockets/?search&#x3D;Falcon](./?search&#x3D;Falcon)  #### Ordering Fields - &#x60;configuration__name&#x60;, &#x60;id&#x60;  Example - [/rockets/?ordering&#x3D;-id](./?ordering&#x3D;-id)  #### Number of results Use &#x60;limit&#x60; to control the number of objects in the response (max 100)  Example - [/rockets/?limit&#x3D;2](./?limit&#x3D;2)  #### Format Switch to JSON output - [/rockets/?format&#x3D;json](./?format&#x3D;json)  #### Help Find all the FAQs and support links on the documentation homepage - [staging.spacelaunchnow.app/docs](https://staging.spacelaunchnow.app/docs/)
     * @param id A unique integer value identifying this rocket.
     * @return RocketStandaloneDetailed
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun rocketsRetrieve(id: kotlin.Int): HttpResponse<RocketStandaloneDetailed> {

        val localVariableAuthNames = listOf<String>("basicAuth", "tokenAuth", "cookieAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/ll/2.4.0/rockets/{id}/".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
