/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package me.calebjones.spacelaunchnow.api.launchlibrary.apis

import me.calebjones.spacelaunchnow.api.launchlibrary.models.PaginatedSpacecraftFlightDetailedList
import me.calebjones.spacelaunchnow.api.launchlibrary.models.PaginatedSpacecraftFlightMiniList
import me.calebjones.spacelaunchnow.api.launchlibrary.models.PaginatedSpacecraftFlightNormalList
import me.calebjones.spacelaunchnow.api.launchlibrary.models.SpacecraftFlightDetailed

import me.calebjones.spacelaunchnow.api.launchlibrary.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class SpacecraftFlightsApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * 
     * #### Filters Parameters - &#x60;mission_end&#x60;, &#x60;mission_end__day&#x60;, &#x60;mission_end__gt&#x60;, &#x60;mission_end__gte&#x60;, &#x60;mission_end__lt&#x60;, &#x60;mission_end__lte&#x60;, &#x60;mission_end__month&#x60;, &#x60;mission_end__year&#x60;, &#x60;spacecraft&#x60;  Example - [/spacecraft_flights/detailed/?spacecraft&#x3D;289](./?spacecraft&#x3D;289)  #### Number of results Use &#x60;limit&#x60; to control the number of objects in the response (max 100)  Example - [/spacecraft_flights/detailed/?limit&#x3D;2](./?limit&#x3D;2)  #### Format Switch to JSON output - [/spacecraft_flights/detailed/?format&#x3D;json](./?format&#x3D;json)  #### Help Find all the FAQs and support links on the documentation homepage - [spacelaunchnow.app/docs](https://spacelaunchnow.app/docs/)
     * @param limit Number of results to return per page. (optional)
     * @param missionEnd  (optional)
     * @param missionEndDay Multiple values may be separated by commas. (optional)
     * @param missionEndGt  (optional)
     * @param missionEndGte  (optional)
     * @param missionEndLt  (optional)
     * @param missionEndLte  (optional)
     * @param missionEndMonth Multiple values may be separated by commas. (optional)
     * @param missionEndYear Multiple values may be separated by commas. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param ordering Which field to use when ordering the results. (optional)
     * @param search A search term. (optional)
     * @param spacecraft  (optional)
     * @return PaginatedSpacecraftFlightDetailedList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun spacecraftFlightsDetailedList(limit: kotlin.Int? = null, missionEnd: kotlin.time.Instant? = null, missionEndDay: kotlin.collections.List<kotlin.Double>? = null, missionEndGt: kotlin.time.Instant? = null, missionEndGte: kotlin.time.Instant? = null, missionEndLt: kotlin.time.Instant? = null, missionEndLte: kotlin.time.Instant? = null, missionEndMonth: kotlin.collections.List<kotlin.Double>? = null, missionEndYear: kotlin.collections.List<kotlin.Double>? = null, offset: kotlin.Int? = null, ordering: kotlin.String? = null, search: kotlin.String? = null, spacecraft: kotlin.Int? = null): HttpResponse<PaginatedSpacecraftFlightDetailedList> {

        val localVariableAuthNames = listOf<String>("basicAuth", "tokenAuth", "cookieAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        missionEnd?.apply { localVariableQuery["mission_end"] = listOf("$missionEnd") }
        missionEndDay?.apply { localVariableQuery["mission_end__day"] = toMultiValue(this, "csv") }
        missionEndGt?.apply { localVariableQuery["mission_end__gt"] = listOf("$missionEndGt") }
        missionEndGte?.apply { localVariableQuery["mission_end__gte"] = listOf("$missionEndGte") }
        missionEndLt?.apply { localVariableQuery["mission_end__lt"] = listOf("$missionEndLt") }
        missionEndLte?.apply { localVariableQuery["mission_end__lte"] = listOf("$missionEndLte") }
        missionEndMonth?.apply { localVariableQuery["mission_end__month"] = toMultiValue(this, "csv") }
        missionEndYear?.apply { localVariableQuery["mission_end__year"] = toMultiValue(this, "csv") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        ordering?.apply { localVariableQuery["ordering"] = listOf("$ordering") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        spacecraft?.apply { localVariableQuery["spacecraft"] = listOf("$spacecraft") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/ll/2.4.0/spacecraft_flights/detailed/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * #### Filters Parameters - &#x60;mission_end&#x60;, &#x60;mission_end__day&#x60;, &#x60;mission_end__gt&#x60;, &#x60;mission_end__gte&#x60;, &#x60;mission_end__lt&#x60;, &#x60;mission_end__lte&#x60;, &#x60;mission_end__month&#x60;, &#x60;mission_end__year&#x60;, &#x60;spacecraft&#x60;  Example - [/spacecraft_flights/?spacecraft&#x3D;289](./?spacecraft&#x3D;289)  #### Number of results Use &#x60;limit&#x60; to control the number of objects in the response (max 100)  Example - [/spacecraft_flights/?limit&#x3D;2](./?limit&#x3D;2)  #### Format Switch to JSON output - [/spacecraft_flights/?format&#x3D;json](./?format&#x3D;json)  #### Help Find all the FAQs and support links on the documentation homepage - [spacelaunchnow.app/docs](https://spacelaunchnow.app/docs/)
     * @param limit Number of results to return per page. (optional)
     * @param missionEnd  (optional)
     * @param missionEndDay Multiple values may be separated by commas. (optional)
     * @param missionEndGt  (optional)
     * @param missionEndGte  (optional)
     * @param missionEndLt  (optional)
     * @param missionEndLte  (optional)
     * @param missionEndMonth Multiple values may be separated by commas. (optional)
     * @param missionEndYear Multiple values may be separated by commas. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param ordering Which field to use when ordering the results. (optional)
     * @param search A search term. (optional)
     * @param spacecraft  (optional)
     * @return PaginatedSpacecraftFlightNormalList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun spacecraftFlightsList(limit: kotlin.Int? = null, missionEnd: kotlin.time.Instant? = null, missionEndDay: kotlin.collections.List<kotlin.Double>? = null, missionEndGt: kotlin.time.Instant? = null, missionEndGte: kotlin.time.Instant? = null, missionEndLt: kotlin.time.Instant? = null, missionEndLte: kotlin.time.Instant? = null, missionEndMonth: kotlin.collections.List<kotlin.Double>? = null, missionEndYear: kotlin.collections.List<kotlin.Double>? = null, offset: kotlin.Int? = null, ordering: kotlin.String? = null, search: kotlin.String? = null, spacecraft: kotlin.Int? = null): HttpResponse<PaginatedSpacecraftFlightNormalList> {

        val localVariableAuthNames = listOf<String>("basicAuth", "tokenAuth", "cookieAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        missionEnd?.apply { localVariableQuery["mission_end"] = listOf("$missionEnd") }
        missionEndDay?.apply { localVariableQuery["mission_end__day"] = toMultiValue(this, "csv") }
        missionEndGt?.apply { localVariableQuery["mission_end__gt"] = listOf("$missionEndGt") }
        missionEndGte?.apply { localVariableQuery["mission_end__gte"] = listOf("$missionEndGte") }
        missionEndLt?.apply { localVariableQuery["mission_end__lt"] = listOf("$missionEndLt") }
        missionEndLte?.apply { localVariableQuery["mission_end__lte"] = listOf("$missionEndLte") }
        missionEndMonth?.apply { localVariableQuery["mission_end__month"] = toMultiValue(this, "csv") }
        missionEndYear?.apply { localVariableQuery["mission_end__year"] = toMultiValue(this, "csv") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        ordering?.apply { localVariableQuery["ordering"] = listOf("$ordering") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        spacecraft?.apply { localVariableQuery["spacecraft"] = listOf("$spacecraft") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/ll/2.4.0/spacecraft_flights/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * #### Filters Parameters - &#x60;mission_end&#x60;, &#x60;mission_end__day&#x60;, &#x60;mission_end__gt&#x60;, &#x60;mission_end__gte&#x60;, &#x60;mission_end__lt&#x60;, &#x60;mission_end__lte&#x60;, &#x60;mission_end__month&#x60;, &#x60;mission_end__year&#x60;, &#x60;spacecraft&#x60;  Example - [/spacecraft_flights/mini/?spacecraft&#x3D;289](./?spacecraft&#x3D;289)  #### Number of results Use &#x60;limit&#x60; to control the number of objects in the response (max 100)  Example - [/spacecraft_flights/mini/?limit&#x3D;2](./?limit&#x3D;2)  #### Format Switch to JSON output - [/spacecraft_flights/mini/?format&#x3D;json](./?format&#x3D;json)  #### Help Find all the FAQs and support links on the documentation homepage - [spacelaunchnow.app/docs](https://spacelaunchnow.app/docs/)
     * @param limit Number of results to return per page. (optional)
     * @param missionEnd  (optional)
     * @param missionEndDay Multiple values may be separated by commas. (optional)
     * @param missionEndGt  (optional)
     * @param missionEndGte  (optional)
     * @param missionEndLt  (optional)
     * @param missionEndLte  (optional)
     * @param missionEndMonth Multiple values may be separated by commas. (optional)
     * @param missionEndYear Multiple values may be separated by commas. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param ordering Which field to use when ordering the results. (optional)
     * @param search A search term. (optional)
     * @param spacecraft  (optional)
     * @return PaginatedSpacecraftFlightMiniList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun spacecraftFlightsMiniList(limit: kotlin.Int? = null, missionEnd: kotlin.time.Instant? = null, missionEndDay: kotlin.collections.List<kotlin.Double>? = null, missionEndGt: kotlin.time.Instant? = null, missionEndGte: kotlin.time.Instant? = null, missionEndLt: kotlin.time.Instant? = null, missionEndLte: kotlin.time.Instant? = null, missionEndMonth: kotlin.collections.List<kotlin.Double>? = null, missionEndYear: kotlin.collections.List<kotlin.Double>? = null, offset: kotlin.Int? = null, ordering: kotlin.String? = null, search: kotlin.String? = null, spacecraft: kotlin.Int? = null): HttpResponse<PaginatedSpacecraftFlightMiniList> {

        val localVariableAuthNames = listOf<String>("basicAuth", "tokenAuth", "cookieAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        missionEnd?.apply { localVariableQuery["mission_end"] = listOf("$missionEnd") }
        missionEndDay?.apply { localVariableQuery["mission_end__day"] = toMultiValue(this, "csv") }
        missionEndGt?.apply { localVariableQuery["mission_end__gt"] = listOf("$missionEndGt") }
        missionEndGte?.apply { localVariableQuery["mission_end__gte"] = listOf("$missionEndGte") }
        missionEndLt?.apply { localVariableQuery["mission_end__lt"] = listOf("$missionEndLt") }
        missionEndLte?.apply { localVariableQuery["mission_end__lte"] = listOf("$missionEndLte") }
        missionEndMonth?.apply { localVariableQuery["mission_end__month"] = toMultiValue(this, "csv") }
        missionEndYear?.apply { localVariableQuery["mission_end__year"] = toMultiValue(this, "csv") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        ordering?.apply { localVariableQuery["ordering"] = listOf("$ordering") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        spacecraft?.apply { localVariableQuery["spacecraft"] = listOf("$spacecraft") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/ll/2.4.0/spacecraft_flights/mini/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * #### Filters Parameters - &#x60;mission_end&#x60;, &#x60;mission_end__day&#x60;, &#x60;mission_end__gt&#x60;, &#x60;mission_end__gte&#x60;, &#x60;mission_end__lt&#x60;, &#x60;mission_end__lte&#x60;, &#x60;mission_end__month&#x60;, &#x60;mission_end__year&#x60;, &#x60;spacecraft&#x60;  Example - [/spacecraft_flights/?spacecraft&#x3D;289](./?spacecraft&#x3D;289)  #### Number of results Use &#x60;limit&#x60; to control the number of objects in the response (max 100)  Example - [/spacecraft_flights/?limit&#x3D;2](./?limit&#x3D;2)  #### Format Switch to JSON output - [/spacecraft_flights/?format&#x3D;json](./?format&#x3D;json)  #### Help Find all the FAQs and support links on the documentation homepage - [spacelaunchnow.app/docs](https://spacelaunchnow.app/docs/)
     * @param id A unique integer value identifying this Spacecraft Flight.
     * @return SpacecraftFlightDetailed
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun spacecraftFlightsRetrieve(id: kotlin.Int): HttpResponse<SpacecraftFlightDetailed> {

        val localVariableAuthNames = listOf<String>("basicAuth", "tokenAuth", "cookieAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/ll/2.4.0/spacecraft_flights/{id}/".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
