/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package me.calebjones.spacelaunchnow.api.launchlibrary.apis

import me.calebjones.spacelaunchnow.api.launchlibrary.models.PaginatedSpacecraftConfigFamilyEndpointDetailedList
import me.calebjones.spacelaunchnow.api.launchlibrary.models.PaginatedSpacecraftConfigFamilyMiniList
import me.calebjones.spacelaunchnow.api.launchlibrary.models.PaginatedSpacecraftConfigFamilyNormalList
import me.calebjones.spacelaunchnow.api.launchlibrary.models.SpacecraftConfigFamilyEndpointDetailed

import me.calebjones.spacelaunchnow.api.launchlibrary.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class SpacecraftConfigurationFamiliesApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * 
     * #### Filters Parameters - &#x60;manufacturer&#x60;, &#x60;name&#x60;  Example - [/spacecraft_configuration_families/detailed/?manufacturer&#x3D;121](./?manufacturer&#x3D;121)  #### Search Fields searched - &#x60;manufacturer__abbrev&#x60;, &#x60;manufacturer__name&#x60;, &#x60;name&#x60;  Example - [/spacecraft_configuration_families/detailed/?search&#x3D;Northrop](./?search&#x3D;Northrop)  #### Ordering Fields - &#x60;name&#x60;  Example - [/spacecraft_configuration_families/detailed/?ordering&#x3D;name](./?ordering&#x3D;name)  #### Number of results Use &#x60;limit&#x60; to control the number of objects in the response (max 100)  Example - [/spacecraft_configuration_families/detailed/?limit&#x3D;2](./?limit&#x3D;2)  #### Format Switch to JSON output - [/spacecraft_configuration_families/detailed/?format&#x3D;json](./?format&#x3D;json)  #### Help Find all the FAQs and support links on the documentation homepage - [spacelaunchnow.app/docs](https://spacelaunchnow.app/docs/)
     * @param limit Number of results to return per page. (optional)
     * @param manufacturer  (optional)
     * @param name  (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param ordering Which field to use when ordering the results. (optional)
     * @param search A search term. (optional)
     * @return PaginatedSpacecraftConfigFamilyEndpointDetailedList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun spacecraftConfigurationFamiliesDetailedList(limit: kotlin.Int? = null, manufacturer: kotlin.Int? = null, name: kotlin.String? = null, offset: kotlin.Int? = null, ordering: kotlin.String? = null, search: kotlin.String? = null): HttpResponse<PaginatedSpacecraftConfigFamilyEndpointDetailedList> {

        val localVariableAuthNames = listOf<String>("basicAuth", "tokenAuth", "cookieAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        manufacturer?.apply { localVariableQuery["manufacturer"] = listOf("$manufacturer") }
        name?.apply { localVariableQuery["name"] = listOf("$name") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        ordering?.apply { localVariableQuery["ordering"] = listOf("$ordering") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/ll/2.4.0/spacecraft_configuration_families/detailed/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * #### Filters Parameters - &#x60;manufacturer&#x60;, &#x60;name&#x60;  Example - [/spacecraft_configuration_families/?manufacturer&#x3D;121](./?manufacturer&#x3D;121)  #### Search Fields searched - &#x60;manufacturer__abbrev&#x60;, &#x60;manufacturer__name&#x60;, &#x60;name&#x60;  Example - [/spacecraft_configuration_families/?search&#x3D;Northrop](./?search&#x3D;Northrop)  #### Ordering Fields - &#x60;name&#x60;  Example - [/spacecraft_configuration_families/?ordering&#x3D;name](./?ordering&#x3D;name)  #### Number of results Use &#x60;limit&#x60; to control the number of objects in the response (max 100)  Example - [/spacecraft_configuration_families/?limit&#x3D;2](./?limit&#x3D;2)  #### Format Switch to JSON output - [/spacecraft_configuration_families/?format&#x3D;json](./?format&#x3D;json)  #### Help Find all the FAQs and support links on the documentation homepage - [spacelaunchnow.app/docs](https://spacelaunchnow.app/docs/)
     * @param limit Number of results to return per page. (optional)
     * @param manufacturer  (optional)
     * @param name  (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param ordering Which field to use when ordering the results. (optional)
     * @param search A search term. (optional)
     * @return PaginatedSpacecraftConfigFamilyNormalList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun spacecraftConfigurationFamiliesList(limit: kotlin.Int? = null, manufacturer: kotlin.Int? = null, name: kotlin.String? = null, offset: kotlin.Int? = null, ordering: kotlin.String? = null, search: kotlin.String? = null): HttpResponse<PaginatedSpacecraftConfigFamilyNormalList> {

        val localVariableAuthNames = listOf<String>("basicAuth", "tokenAuth", "cookieAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        manufacturer?.apply { localVariableQuery["manufacturer"] = listOf("$manufacturer") }
        name?.apply { localVariableQuery["name"] = listOf("$name") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        ordering?.apply { localVariableQuery["ordering"] = listOf("$ordering") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/ll/2.4.0/spacecraft_configuration_families/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * #### Filters Parameters - &#x60;manufacturer&#x60;, &#x60;name&#x60;  Example - [/spacecraft_configuration_families/mini/?manufacturer&#x3D;121](./?manufacturer&#x3D;121)  #### Search Fields searched - &#x60;manufacturer__abbrev&#x60;, &#x60;manufacturer__name&#x60;, &#x60;name&#x60;  Example - [/spacecraft_configuration_families/mini/?search&#x3D;Northrop](./?search&#x3D;Northrop)  #### Ordering Fields - &#x60;name&#x60;  Example - [/spacecraft_configuration_families/mini/?ordering&#x3D;name](./?ordering&#x3D;name)  #### Number of results Use &#x60;limit&#x60; to control the number of objects in the response (max 100)  Example - [/spacecraft_configuration_families/mini/?limit&#x3D;2](./?limit&#x3D;2)  #### Format Switch to JSON output - [/spacecraft_configuration_families/mini/?format&#x3D;json](./?format&#x3D;json)  #### Help Find all the FAQs and support links on the documentation homepage - [spacelaunchnow.app/docs](https://spacelaunchnow.app/docs/)
     * @param limit Number of results to return per page. (optional)
     * @param manufacturer  (optional)
     * @param name  (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param ordering Which field to use when ordering the results. (optional)
     * @param search A search term. (optional)
     * @return PaginatedSpacecraftConfigFamilyMiniList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun spacecraftConfigurationFamiliesMiniList(limit: kotlin.Int? = null, manufacturer: kotlin.Int? = null, name: kotlin.String? = null, offset: kotlin.Int? = null, ordering: kotlin.String? = null, search: kotlin.String? = null): HttpResponse<PaginatedSpacecraftConfigFamilyMiniList> {

        val localVariableAuthNames = listOf<String>("basicAuth", "tokenAuth", "cookieAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        manufacturer?.apply { localVariableQuery["manufacturer"] = listOf("$manufacturer") }
        name?.apply { localVariableQuery["name"] = listOf("$name") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        ordering?.apply { localVariableQuery["ordering"] = listOf("$ordering") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/ll/2.4.0/spacecraft_configuration_families/mini/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * #### Filters Parameters - &#x60;manufacturer&#x60;, &#x60;name&#x60;  Example - [/spacecraft_configuration_families/?manufacturer&#x3D;121](./?manufacturer&#x3D;121)  #### Search Fields searched - &#x60;manufacturer__abbrev&#x60;, &#x60;manufacturer__name&#x60;, &#x60;name&#x60;  Example - [/spacecraft_configuration_families/?search&#x3D;Northrop](./?search&#x3D;Northrop)  #### Ordering Fields - &#x60;name&#x60;  Example - [/spacecraft_configuration_families/?ordering&#x3D;name](./?ordering&#x3D;name)  #### Number of results Use &#x60;limit&#x60; to control the number of objects in the response (max 100)  Example - [/spacecraft_configuration_families/?limit&#x3D;2](./?limit&#x3D;2)  #### Format Switch to JSON output - [/spacecraft_configuration_families/?format&#x3D;json](./?format&#x3D;json)  #### Help Find all the FAQs and support links on the documentation homepage - [spacelaunchnow.app/docs](https://spacelaunchnow.app/docs/)
     * @param id A unique integer value identifying this Spacecraft Configuration Family.
     * @return SpacecraftConfigFamilyEndpointDetailed
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun spacecraftConfigurationFamiliesRetrieve(id: kotlin.Int): HttpResponse<SpacecraftConfigFamilyEndpointDetailed> {

        val localVariableAuthNames = listOf<String>("basicAuth", "tokenAuth", "cookieAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/ll/2.4.0/spacecraft_configuration_families/{id}/".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
