/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package me.calebjones.spacelaunchnow.api.launchlibrary.apis

import me.calebjones.spacelaunchnow.api.launchlibrary.models.PaginatedStageStandaloneNormalList
import me.calebjones.spacelaunchnow.api.launchlibrary.models.StageStandaloneDetailed

import me.calebjones.spacelaunchnow.api.launchlibrary.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class StagesApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * 
     * #### Filters Parameters - &#x60;id&#x60;, &#x60;launcher&#x60;, &#x60;launcher__ids&#x60;, &#x60;launcher__serial_number&#x60;, &#x60;launcher__serial_number__icontains&#x60;, &#x60;reused&#x60;, &#x60;rocket&#x60;, &#x60;rocket__ids&#x60;, &#x60;type&#x60;  Example - [/stages/?rocket__ids&#x3D;3007,3008](./?rocket__ids&#x3D;3007,3008)  #### Search Fields searched - &#x60;launcher__serial_number&#x60;, &#x60;rocket__configuration__name&#x60;, &#x60;rocket__launch__name&#x60;  Example - [/stages/?search&#x3D;B1058](./?search&#x3D;B1058)  #### Ordering Fields - &#x60;id&#x60;, &#x60;launcher_flight_number&#x60;, &#x60;previous_flight_date&#x60;  Example - [/stages/?ordering&#x3D;-previous_flight_date](./?ordering&#x3D;-previous_flight_date)  #### Number of results Use &#x60;limit&#x60; to control the number of objects in the response (max 100)  Example - [/stages/?limit&#x3D;2](./?limit&#x3D;2)  #### Format Switch to JSON output - [/stages/?format&#x3D;json](./?format&#x3D;json)  #### Help Find all the FAQs and support links on the documentation homepage - [staging.spacelaunchnow.app/docs](https://staging.spacelaunchnow.app/docs/)
     * @param id  (optional)
     * @param launcher  (optional)
     * @param launcherIds Comma-separated launcher IDs. (optional)
     * @param launcherSerialNumber  (optional)
     * @param launcherSerialNumberIcontains  (optional)
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param ordering Which field to use when ordering the results. (optional)
     * @param reused  (optional)
     * @param rocket  (optional)
     * @param rocketIds Comma-separated rocket IDs. (optional)
     * @param search A search term. (optional)
     * @param type  (optional)
     * @return PaginatedStageStandaloneNormalList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun stagesList(id: kotlin.Int? = null, launcher: kotlin.Int? = null, launcherIds: kotlin.collections.List<kotlin.Int>? = null, launcherSerialNumber: kotlin.String? = null, launcherSerialNumberIcontains: kotlin.String? = null, limit: kotlin.Int? = null, offset: kotlin.Int? = null, ordering: kotlin.String? = null, reused: kotlin.Boolean? = null, rocket: kotlin.Int? = null, rocketIds: kotlin.collections.List<kotlin.Int>? = null, search: kotlin.String? = null, type: kotlin.Int? = null): HttpResponse<PaginatedStageStandaloneNormalList> {

        val localVariableAuthNames = listOf<String>("basicAuth", "tokenAuth", "cookieAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        id?.apply { localVariableQuery["id"] = listOf("$id") }
        launcher?.apply { localVariableQuery["launcher"] = listOf("$launcher") }
        launcherIds?.apply { localVariableQuery["launcher__ids"] = toMultiValue(this, "csv") }
        launcherSerialNumber?.apply { localVariableQuery["launcher__serial_number"] = listOf("$launcherSerialNumber") }
        launcherSerialNumberIcontains?.apply { localVariableQuery["launcher__serial_number__icontains"] = listOf("$launcherSerialNumberIcontains") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        ordering?.apply { localVariableQuery["ordering"] = listOf("$ordering") }
        reused?.apply { localVariableQuery["reused"] = listOf("$reused") }
        rocket?.apply { localVariableQuery["rocket"] = listOf("$rocket") }
        rocketIds?.apply { localVariableQuery["rocket__ids"] = toMultiValue(this, "csv") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        type?.apply { localVariableQuery["type"] = listOf("$type") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/ll/2.4.0/stages/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * #### Filters Parameters - &#x60;id&#x60;, &#x60;launcher&#x60;, &#x60;launcher__ids&#x60;, &#x60;launcher__serial_number&#x60;, &#x60;launcher__serial_number__icontains&#x60;, &#x60;reused&#x60;, &#x60;rocket&#x60;, &#x60;rocket__ids&#x60;, &#x60;type&#x60;  Example - [/stages/?rocket__ids&#x3D;3007,3008](./?rocket__ids&#x3D;3007,3008)  #### Search Fields searched - &#x60;launcher__serial_number&#x60;, &#x60;rocket__configuration__name&#x60;, &#x60;rocket__launch__name&#x60;  Example - [/stages/?search&#x3D;B1058](./?search&#x3D;B1058)  #### Ordering Fields - &#x60;id&#x60;, &#x60;launcher_flight_number&#x60;, &#x60;previous_flight_date&#x60;  Example - [/stages/?ordering&#x3D;-previous_flight_date](./?ordering&#x3D;-previous_flight_date)  #### Number of results Use &#x60;limit&#x60; to control the number of objects in the response (max 100)  Example - [/stages/?limit&#x3D;2](./?limit&#x3D;2)  #### Format Switch to JSON output - [/stages/?format&#x3D;json](./?format&#x3D;json)  #### Help Find all the FAQs and support links on the documentation homepage - [staging.spacelaunchnow.app/docs](https://staging.spacelaunchnow.app/docs/)
     * @param id A unique integer value identifying this first stage.
     * @return StageStandaloneDetailed
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun stagesRetrieve(id: kotlin.Int): HttpResponse<StageStandaloneDetailed> {

        val localVariableAuthNames = listOf<String>("basicAuth", "tokenAuth", "cookieAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/ll/2.4.0/stages/{id}/".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
