/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package me.calebjones.spacelaunchnow.api.launchlibrary.apis

import me.calebjones.spacelaunchnow.api.launchlibrary.models.PaginatedUpdateEndpointList
import me.calebjones.spacelaunchnow.api.launchlibrary.models.UpdateEndpoint

import me.calebjones.spacelaunchnow.api.launchlibrary.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class UpdatesApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * 
     * #### Filters Parameters - &#x60;all__program&#x60;, &#x60;created_on&#x60;, &#x60;created_on__gt&#x60;, &#x60;created_on__gte&#x60;, &#x60;created_on__lt&#x60;, &#x60;created_on__lte&#x60;, &#x60;event__program&#x60;, &#x60;launch&#x60;, &#x60;launch__launch_service_provider&#x60;, &#x60;launch__program&#x60;, &#x60;program&#x60;  Example - [/updates/?all__program&#x3D;1](./?all__program&#x3D;1)  #### Ordering Fields - &#x60;created_on&#x60;  Example - [/updates/?ordering&#x3D;-created_on](./?ordering&#x3D;-created_on)  #### Number of results Use &#x60;limit&#x60; to control the number of objects in the response (max 100)  Example - [/updates/?limit&#x3D;2](./?limit&#x3D;2)  #### Format Switch to JSON output - [/updates/?format&#x3D;json](./?format&#x3D;json)  #### Help Find all the FAQs and support links on the documentation homepage - [spacelaunchnow.app/docs](https://spacelaunchnow.app/docs/)
     * @param allProgram Filter by program ID to get all updates including from launch or events. (optional)
     * @param createdOn  (optional)
     * @param createdOnGt  (optional)
     * @param createdOnGte  (optional)
     * @param createdOnLt  (optional)
     * @param createdOnLte  (optional)
     * @param eventProgram  (optional)
     * @param launch  (optional)
     * @param launchLaunchServiceProvider  (optional)
     * @param launchProgram  (optional)
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param ordering Which field to use when ordering the results. (optional)
     * @param program  (optional)
     * @param search A search term. (optional)
     * @return PaginatedUpdateEndpointList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun updatesList(allProgram: kotlin.Int? = null, createdOn: kotlin.time.Instant? = null, createdOnGt: kotlin.time.Instant? = null, createdOnGte: kotlin.time.Instant? = null, createdOnLt: kotlin.time.Instant? = null, createdOnLte: kotlin.time.Instant? = null, eventProgram: kotlin.collections.List<kotlin.Int>? = null, launch: kotlin.String? = null, launchLaunchServiceProvider: kotlin.Int? = null, launchProgram: kotlin.collections.List<kotlin.Int>? = null, limit: kotlin.Int? = null, offset: kotlin.Int? = null, ordering: kotlin.String? = null, program: kotlin.Int? = null, search: kotlin.String? = null): HttpResponse<PaginatedUpdateEndpointList> {

        val localVariableAuthNames = listOf<String>("basicAuth", "tokenAuth", "cookieAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        allProgram?.apply { localVariableQuery["all__program"] = listOf("$allProgram") }
        createdOn?.apply { localVariableQuery["created_on"] = listOf("$createdOn") }
        createdOnGt?.apply { localVariableQuery["created_on__gt"] = listOf("$createdOnGt") }
        createdOnGte?.apply { localVariableQuery["created_on__gte"] = listOf("$createdOnGte") }
        createdOnLt?.apply { localVariableQuery["created_on__lt"] = listOf("$createdOnLt") }
        createdOnLte?.apply { localVariableQuery["created_on__lte"] = listOf("$createdOnLte") }
        eventProgram?.apply { localVariableQuery["event__program"] = toMultiValue(this, "multi") }
        launch?.apply { localVariableQuery["launch"] = listOf("$launch") }
        launchLaunchServiceProvider?.apply { localVariableQuery["launch__launch_service_provider"] = listOf("$launchLaunchServiceProvider") }
        launchProgram?.apply { localVariableQuery["launch__program"] = toMultiValue(this, "multi") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        ordering?.apply { localVariableQuery["ordering"] = listOf("$ordering") }
        program?.apply { localVariableQuery["program"] = listOf("$program") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/ll/2.4.0/updates/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * #### Filters Parameters - &#x60;all__program&#x60;, &#x60;created_on&#x60;, &#x60;created_on__gt&#x60;, &#x60;created_on__gte&#x60;, &#x60;created_on__lt&#x60;, &#x60;created_on__lte&#x60;, &#x60;event__program&#x60;, &#x60;launch&#x60;, &#x60;launch__launch_service_provider&#x60;, &#x60;launch__program&#x60;, &#x60;program&#x60;  Example - [/updates/?all__program&#x3D;1](./?all__program&#x3D;1)  #### Ordering Fields - &#x60;created_on&#x60;  Example - [/updates/?ordering&#x3D;-created_on](./?ordering&#x3D;-created_on)  #### Number of results Use &#x60;limit&#x60; to control the number of objects in the response (max 100)  Example - [/updates/?limit&#x3D;2](./?limit&#x3D;2)  #### Format Switch to JSON output - [/updates/?format&#x3D;json](./?format&#x3D;json)  #### Help Find all the FAQs and support links on the documentation homepage - [spacelaunchnow.app/docs](https://spacelaunchnow.app/docs/)
     * @param id A unique integer value identifying this Update.
     * @param allProgram Filter by program ID to get all updates including from launch or events. (optional)
     * @return UpdateEndpoint
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun updatesRetrieve(id: kotlin.Int, allProgram: kotlin.Int? = null): HttpResponse<UpdateEndpoint> {

        val localVariableAuthNames = listOf<String>("basicAuth", "tokenAuth", "cookieAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        allProgram?.apply { localVariableQuery["all__program"] = listOf("$allProgram") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/ll/2.4.0/updates/{id}/".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
