/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package me.calebjones.spacelaunchnow.api.snapi.apis

import me.calebjones.spacelaunchnow.api.snapi.models.PaginatedReportList
import me.calebjones.spacelaunchnow.api.snapi.models.Report

import me.calebjones.spacelaunchnow.api.snapi.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class ReportsApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)


    /**
     * enum for parameter ordering
     */
    @Serializable
    enum class OrderingReportsList(val value: kotlin.String) {
        
        @SerialName(value = "-published_at")
        MinusPublished_at("-published_at"),
        
        @SerialName(value = "-updated_at")
        MinusUpdated_at("-updated_at"),
        
        @SerialName(value = "published_at")
        published_at("published_at"),
        
        @SerialName(value = "updated_at")
        updated_at("updated_at")
        
    }

    /**
     * 
     * 
     * @param limit Number of results to return per page. (optional)
     * @param newsSite Search for documents with a news_site__name present in a list of comma-separated values. Case insensitive. (optional)
     * @param newsSiteExclude Search for documents with a news_site__name not present in a list of comma-separated values. Case insensitive. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param ordering Order the result on &#x60;published_at, -published_at, updated_at, -updated_at&#x60;.  * &#x60;published_at&#x60; - Published at * &#x60;-published_at&#x60; - Published at (descending) * &#x60;updated_at&#x60; - Updated at * &#x60;-updated_at&#x60; - Updated at (descending) (optional)
     * @param publishedAtGt Get all documents published after a given ISO8601 timestamp (excluded). (optional)
     * @param publishedAtGte Get all documents published after a given ISO8601 timestamp (included). (optional)
     * @param publishedAtLt Get all documents published before a given ISO8601 timestamp (excluded). (optional)
     * @param publishedAtLte Get all documents published before a given ISO8601 timestamp (included). (optional)
     * @param search Search for documents with a specific phrase in the title or summary. (optional)
     * @param summaryContains Search for all documents with a specific phrase in the summary. (optional)
     * @param summaryContainsAll Search for documents with a summary containing all keywords from comma-separated values. (optional)
     * @param summaryContainsOne Search for documents with a summary containing at least one keyword from comma-separated values. (optional)
     * @param titleContains Search for all documents with a specific phrase in the title. (optional)
     * @param titleContainsAll Search for documents with a title containing all keywords from comma-separated values. (optional)
     * @param titleContainsOne Search for documents with a title containing at least one keyword from comma-separated values. (optional)
     * @param updatedAtGt Get all documents updated after a given ISO8601 timestamp (excluded). (optional)
     * @param updatedAtGte Get all documents updated after a given ISO8601 timestamp (included). (optional)
     * @param updatedAtLt Get all documents updated before a given ISO8601 timestamp (excluded). (optional)
     * @param updatedAtLte Get all documents updated before a given ISO8601 timestamp (included). (optional)
     * @return PaginatedReportList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun reportsList(limit: kotlin.Int? = null, newsSite: kotlin.String? = null, newsSiteExclude: kotlin.String? = null, offset: kotlin.Int? = null, ordering: kotlin.collections.List<OrderingReportsList>? = null, publishedAtGt: kotlinx.datetime.Instant? = null, publishedAtGte: kotlinx.datetime.Instant? = null, publishedAtLt: kotlinx.datetime.Instant? = null, publishedAtLte: kotlinx.datetime.Instant? = null, search: kotlin.String? = null, summaryContains: kotlin.String? = null, summaryContainsAll: kotlin.String? = null, summaryContainsOne: kotlin.String? = null, titleContains: kotlin.String? = null, titleContainsAll: kotlin.String? = null, titleContainsOne: kotlin.String? = null, updatedAtGt: kotlinx.datetime.Instant? = null, updatedAtGte: kotlinx.datetime.Instant? = null, updatedAtLt: kotlinx.datetime.Instant? = null, updatedAtLte: kotlinx.datetime.Instant? = null): HttpResponse<PaginatedReportList> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        newsSite?.apply { localVariableQuery["news_site"] = listOf("$newsSite") }
        newsSiteExclude?.apply { localVariableQuery["news_site_exclude"] = listOf("$newsSiteExclude") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        ordering?.apply { localVariableQuery["ordering"] = toMultiValue(this, "csv") }
        publishedAtGt?.apply { localVariableQuery["published_at_gt"] = listOf("$publishedAtGt") }
        publishedAtGte?.apply { localVariableQuery["published_at_gte"] = listOf("$publishedAtGte") }
        publishedAtLt?.apply { localVariableQuery["published_at_lt"] = listOf("$publishedAtLt") }
        publishedAtLte?.apply { localVariableQuery["published_at_lte"] = listOf("$publishedAtLte") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        summaryContains?.apply { localVariableQuery["summary_contains"] = listOf("$summaryContains") }
        summaryContainsAll?.apply { localVariableQuery["summary_contains_all"] = listOf("$summaryContainsAll") }
        summaryContainsOne?.apply { localVariableQuery["summary_contains_one"] = listOf("$summaryContainsOne") }
        titleContains?.apply { localVariableQuery["title_contains"] = listOf("$titleContains") }
        titleContainsAll?.apply { localVariableQuery["title_contains_all"] = listOf("$titleContainsAll") }
        titleContainsOne?.apply { localVariableQuery["title_contains_one"] = listOf("$titleContainsOne") }
        updatedAtGt?.apply { localVariableQuery["updated_at_gt"] = listOf("$updatedAtGt") }
        updatedAtGte?.apply { localVariableQuery["updated_at_gte"] = listOf("$updatedAtGte") }
        updatedAtLt?.apply { localVariableQuery["updated_at_lt"] = listOf("$updatedAtLt") }
        updatedAtLte?.apply { localVariableQuery["updated_at_lte"] = listOf("$updatedAtLte") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v4/reports/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * 
     * @param id A unique integer value identifying this report.
     * @return Report
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun reportsRetrieve(id: kotlin.Int): HttpResponse<Report> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v4/reports/{id}/".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
