/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package me.calebjones.spacelaunchnow.api.trantor.apis

import me.calebjones.spacelaunchnow.api.trantor.models.AstronautDetail
import me.calebjones.spacelaunchnow.api.trantor.models.HTTPValidationError
import me.calebjones.spacelaunchnow.api.trantor.models.PaginatedResponseAstronautList

import me.calebjones.spacelaunchnow.api.trantor.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class AstronautsApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Get astronaut detail
     * Full astronaut payload â€” bio, dates, and flight history from launch_crews, newest first.
     * @param astronautId 
     * @return AstronautDetail
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getAstronautApiV1AstronautsAstronautIdGet(astronautId: kotlin.Int): HttpResponse<AstronautDetail> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/astronauts/{astronaut_id}".replace("{" + "astronaut_id" + "}", "$astronautId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List astronauts
     * Paginated list of astronauts. Filter by status, agency, has_flown, in_space, is_human (excludes the &#39;Non-Human&#39; astronaut type by name), or name search.
     * @param statusIds Comma-separated astronaut status ids (optional)
     * @param agencyIds Comma-separated agency ids (optional)
     * @param hasFlown true â†’ flights_count &gt; 0; false â†’ 0 or unrecorded (optional)
     * @param inSpace Currently in space (optional)
     * @param isHuman true â†’ excludes astronaut type &#39;Non-Human&#39;; false â†’ only that type. An astronaut with no recorded type counts as human. (optional)
     * @param search Search astronaut name (optional)
     * @param ordering Order by &#x60;name&#x60;. Prefix - for descending. Unknown values fall back to name. (optional, default to "name")
     * @param limit Number of results per page (optional, default to 25)
     * @param offset Number of results to skip (optional, default to 0)
     * @return PaginatedResponseAstronautList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listAstronautsApiV1AstronautsGet(statusIds: kotlin.String? = null, agencyIds: kotlin.String? = null, hasFlown: kotlin.Boolean? = null, inSpace: kotlin.Boolean? = null, isHuman: kotlin.Boolean? = null, search: kotlin.String? = null, ordering: kotlin.String? = "name", limit: kotlin.Int? = 25, offset: kotlin.Int? = 0): HttpResponse<PaginatedResponseAstronautList> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        statusIds?.apply { localVariableQuery["status_ids"] = listOf("$statusIds") }
        agencyIds?.apply { localVariableQuery["agency_ids"] = listOf("$agencyIds") }
        hasFlown?.apply { localVariableQuery["has_flown"] = listOf("$hasFlown") }
        inSpace?.apply { localVariableQuery["in_space"] = listOf("$inSpace") }
        isHuman?.apply { localVariableQuery["is_human"] = listOf("$isHuman") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        ordering?.apply { localVariableQuery["ordering"] = listOf("$ordering") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/astronauts",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
