/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package me.calebjones.spacelaunchnow.api.trantor.apis

import me.calebjones.spacelaunchnow.api.trantor.models.EventDetail
import me.calebjones.spacelaunchnow.api.trantor.models.HTTPValidationError
import me.calebjones.spacelaunchnow.api.trantor.models.PaginatedResponseEventList

import me.calebjones.spacelaunchnow.api.trantor.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class EventsApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Get event detail
     * Full event payload â€” description, info_urls/vid_urls (ordered by priority), related launch ids, and program ids.
     * @param eventId 
     * @return EventDetail
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getEventApiV1EventsEventIdGet(eventId: kotlin.Int): HttpResponse<EventDetail> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/events/{event_id}".replace("{" + "event_id" + "}", "$eventId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List events
     * Paginated list of events, ordered by date. Filter by upcoming/previous, date range, type, program, related launch, or name search.
     * @param upcoming true â†’ date now or later; false â†’ date in the past. Pure filter â€” combine with ordering&#x3D;date for soonest-first. (optional)
     * @param dateAfter Date at or after this datetime (ISO 8601) (optional)
     * @param dateBefore Date at or before this datetime (ISO 8601) (optional)
     * @param typeIds Comma-separated event type ids (optional)
     * @param programIds Comma-separated program ids (optional)
     * @param launchId Launch id â€” related events for a launch (optional)
     * @param search Search event name (optional)
     * @param ordering Order by &#x60;date&#x60;. Prefix - for descending. Unknown values fall back to -date. (optional, default to "-date")
     * @param limit Number of results per page (optional, default to 25)
     * @param offset Number of results to skip (optional, default to 0)
     * @return PaginatedResponseEventList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listEventsApiV1EventsGet(upcoming: kotlin.Boolean? = null, dateAfter: kotlin.time.Instant? = null, dateBefore: kotlin.time.Instant? = null, typeIds: kotlin.String? = null, programIds: kotlin.String? = null, launchId: kotlin.String? = null, search: kotlin.String? = null, ordering: kotlin.String? = "-date", limit: kotlin.Int? = 25, offset: kotlin.Int? = 0): HttpResponse<PaginatedResponseEventList> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        upcoming?.apply { localVariableQuery["upcoming"] = listOf("$upcoming") }
        dateAfter?.apply { localVariableQuery["date_after"] = listOf("$dateAfter") }
        dateBefore?.apply { localVariableQuery["date_before"] = listOf("$dateBefore") }
        typeIds?.apply { localVariableQuery["type_ids"] = listOf("$typeIds") }
        programIds?.apply { localVariableQuery["program_ids"] = listOf("$programIds") }
        launchId?.apply { localVariableQuery["launch_id"] = listOf("$launchId") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        ordering?.apply { localVariableQuery["ordering"] = listOf("$ordering") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/events",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
