/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package me.calebjones.spacelaunchnow.api.trantor.apis

import me.calebjones.spacelaunchnow.api.trantor.models.HTTPValidationError
import me.calebjones.spacelaunchnow.api.trantor.models.LauncherConfigFull
import me.calebjones.spacelaunchnow.api.trantor.models.PaginatedResponseLauncherConfigSummary

import me.calebjones.spacelaunchnow.api.trantor.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class LauncherConfigurationsApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Get launcher configuration detail
     * 
     * @param configId 
     * @param expand Comma-separated list of relations to expand. Dot notation for nested: provider,rocket.stages.launcher (optional)
     * @return LauncherConfigFull
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getConfigurationApiV1ConfigurationsConfigIdGet(configId: kotlin.Int, expand: kotlin.String? = null): HttpResponse<LauncherConfigFull> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        expand?.apply { localVariableQuery["expand"] = listOf("$expand") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/configurations/{config_id}".replace("{" + "config_id" + "}", "$configId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List launcher configurations
     * Paginated list of launcher configurations (vehicle types). Filter by search, active, manufacturer, reusable, family, program, placeholder status, or order by name/maiden_flight/total_launch_count.
     * @param search Search by name (optional)
     * @param active Filter by active status (optional)
     * @param manufacturerId Filter by manufacturer agency ID (optional)
     * @param reusable Filter by reusable status (optional)
     * @param familyIds Comma-separated rocket family ids (optional)
     * @param programIds Comma-separated program ids (optional)
     * @param isPlaceholder Filter by placeholder status (optional)
     * @param ordering Order by &#x60;name&#x60;, &#x60;maiden_flight&#x60;, or &#x60;total_launch_count&#x60;. Prefix - for descending. Unknown values fall back to name. (optional, default to "name")
     * @param limit Number of results per page (optional, default to 25)
     * @param offset Number of results to skip (optional, default to 0)
     * @return PaginatedResponseLauncherConfigSummary
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listConfigurationsApiV1ConfigurationsGet(search: kotlin.String? = null, active: kotlin.Boolean? = null, manufacturerId: kotlin.Int? = null, reusable: kotlin.Boolean? = null, familyIds: kotlin.String? = null, programIds: kotlin.String? = null, isPlaceholder: kotlin.Boolean? = null, ordering: kotlin.String? = "name", limit: kotlin.Int? = 25, offset: kotlin.Int? = 0): HttpResponse<PaginatedResponseLauncherConfigSummary> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        active?.apply { localVariableQuery["active"] = listOf("$active") }
        manufacturerId?.apply { localVariableQuery["manufacturer_id"] = listOf("$manufacturerId") }
        reusable?.apply { localVariableQuery["reusable"] = listOf("$reusable") }
        familyIds?.apply { localVariableQuery["family_ids"] = listOf("$familyIds") }
        programIds?.apply { localVariableQuery["program_ids"] = listOf("$programIds") }
        isPlaceholder?.apply { localVariableQuery["is_placeholder"] = listOf("$isPlaceholder") }
        ordering?.apply { localVariableQuery["ordering"] = listOf("$ordering") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/configurations",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
