/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package me.calebjones.spacelaunchnow.api.trantor.apis

import me.calebjones.spacelaunchnow.api.trantor.models.HTTPValidationError
import me.calebjones.spacelaunchnow.api.trantor.models.LaunchDetail
import me.calebjones.spacelaunchnow.api.trantor.models.PaginatedResponseLaunchList

import me.calebjones.spacelaunchnow.api.trantor.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class LaunchesApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Get launch detail
     * Full launch payload â€” provider, rocket (with stages, launcher, landing), mission (with agencies), pad (with location), updates, timeline, info_urls, vid_urls, and mission patches all included.
     * @param launchId 
     * @return LaunchDetail
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getLaunchApiV1LaunchesLaunchIdGet(launchId: kotlin.String): HttpResponse<LaunchDetail> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/launches/{launch_id}".replace("{" + "launch_id" + "}", "$launchId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List launches
     * Paginated list of launches, ordered by NET. Filter by upcoming/previous, NET range or day/month, status, provider, location, program, orbit, mission type, launcher family, rocket configuration, pad, crew, suborbital inclusion, or name search. Multi-value &#x60;*_ids&#x60; params take comma-separated integers.
     * @param upcoming true â†’ NET now or later; false â†’ NET in the past. Pure filter â€” combine with ordering&#x3D;net for soonest-first. (optional)
     * @param netAfter NET at or after this datetime (ISO 8601) (optional)
     * @param netBefore NET at or before this datetime (ISO 8601) (optional)
     * @param netDay Day of month of NET, evaluated in UTC (optional)
     * @param netMonth Month of NET, evaluated in UTC (optional)
     * @param statusIds Comma-separated launch status ids (optional)
     * @param providerIds Comma-separated launch service provider (agency) ids (optional)
     * @param locationIds Comma-separated location ids (matched via the pad) (optional)
     * @param programIds Comma-separated program ids (optional)
     * @param orbitIds Comma-separated orbit ids (matched via the mission) (optional)
     * @param missionTypeIds Comma-separated mission type ids (matched via the mission) (optional)
     * @param familyIds Comma-separated launcher-configuration family ids (optional)
     * @param rocketConfigId Launcher configuration id (optional)
     * @param padId Launch pad id (optional)
     * @param isCrewed true â†’ carries human crew; false â†’ no crew, or non-human passengers only (optional)
     * @param includeSuborbital false â†’ exclude suborbital launches. Omitted or true includes them. (optional)
     * @param search Search launch name (optional)
     * @param ordering Order by &#x60;net&#x60; or &#x60;name&#x60;. Prefix - for descending. Unknown values fall back to -net. (optional, default to "-net")
     * @param limit Number of results per page (optional, default to 25)
     * @param offset Number of results to skip (optional, default to 0)
     * @return PaginatedResponseLaunchList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listLaunchesApiV1LaunchesGet(upcoming: kotlin.Boolean? = null, netAfter: kotlin.time.Instant? = null, netBefore: kotlin.time.Instant? = null, netDay: kotlin.Int? = null, netMonth: kotlin.Int? = null, statusIds: kotlin.String? = null, providerIds: kotlin.String? = null, locationIds: kotlin.String? = null, programIds: kotlin.String? = null, orbitIds: kotlin.String? = null, missionTypeIds: kotlin.String? = null, familyIds: kotlin.String? = null, rocketConfigId: kotlin.Int? = null, padId: kotlin.Int? = null, isCrewed: kotlin.Boolean? = null, includeSuborbital: kotlin.Boolean? = null, search: kotlin.String? = null, ordering: kotlin.String? = "-net", limit: kotlin.Int? = 25, offset: kotlin.Int? = 0): HttpResponse<PaginatedResponseLaunchList> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        upcoming?.apply { localVariableQuery["upcoming"] = listOf("$upcoming") }
        netAfter?.apply { localVariableQuery["net_after"] = listOf("$netAfter") }
        netBefore?.apply { localVariableQuery["net_before"] = listOf("$netBefore") }
        netDay?.apply { localVariableQuery["net_day"] = listOf("$netDay") }
        netMonth?.apply { localVariableQuery["net_month"] = listOf("$netMonth") }
        statusIds?.apply { localVariableQuery["status_ids"] = listOf("$statusIds") }
        providerIds?.apply { localVariableQuery["provider_ids"] = listOf("$providerIds") }
        locationIds?.apply { localVariableQuery["location_ids"] = listOf("$locationIds") }
        programIds?.apply { localVariableQuery["program_ids"] = listOf("$programIds") }
        orbitIds?.apply { localVariableQuery["orbit_ids"] = listOf("$orbitIds") }
        missionTypeIds?.apply { localVariableQuery["mission_type_ids"] = listOf("$missionTypeIds") }
        familyIds?.apply { localVariableQuery["family_ids"] = listOf("$familyIds") }
        rocketConfigId?.apply { localVariableQuery["rocket_config_id"] = listOf("$rocketConfigId") }
        padId?.apply { localVariableQuery["pad_id"] = listOf("$padId") }
        isCrewed?.apply { localVariableQuery["is_crewed"] = listOf("$isCrewed") }
        includeSuborbital?.apply { localVariableQuery["include_suborbital"] = listOf("$includeSuborbital") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        ordering?.apply { localVariableQuery["ordering"] = listOf("$ordering") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/launches",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
