/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package me.calebjones.spacelaunchnow.api.trantor.apis

import me.calebjones.spacelaunchnow.api.trantor.models.HTTPValidationError
import me.calebjones.spacelaunchnow.api.trantor.models.PaginatedResponseStationList
import me.calebjones.spacelaunchnow.api.trantor.models.StationDetail

import me.calebjones.spacelaunchnow.api.trantor.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class SpaceStationsApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Get space station detail
     * Full station payload â€” description, physical measurements, owners (agencies), and expeditions with crew (no standalone /expeditions endpoint).
     * @param stationId 
     * @return StationDetail
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getStationApiV1SpaceStationsStationIdGet(stationId: kotlin.Int): HttpResponse<StationDetail> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/space_stations/{station_id}".replace("{" + "station_id" + "}", "$stationId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List space stations
     * Paginated list of space stations. Filter by status or name search, order by name.
     * @param statusId Space station status id (optional)
     * @param search Search station name (optional)
     * @param ordering Order by &#x60;name&#x60;. Prefix - for descending. Unknown values fall back to name. (optional, default to "name")
     * @param limit Number of results per page (optional, default to 25)
     * @param offset Number of results to skip (optional, default to 0)
     * @return PaginatedResponseStationList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listStationsApiV1SpaceStationsGet(statusId: kotlin.Int? = null, search: kotlin.String? = null, ordering: kotlin.String? = "name", limit: kotlin.Int? = 25, offset: kotlin.Int? = 0): HttpResponse<PaginatedResponseStationList> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        statusId?.apply { localVariableQuery["status_id"] = listOf("$statusId") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        ordering?.apply { localVariableQuery["ordering"] = listOf("$ordering") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/space_stations",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
