/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package me.calebjones.spacelaunchnow.api.trantor.apis

import me.calebjones.spacelaunchnow.api.trantor.models.HTTPValidationError
import me.calebjones.spacelaunchnow.api.trantor.models.PaginatedResponseSpacecraftSummary
import me.calebjones.spacelaunchnow.api.trantor.models.SpacecraftFull

import me.calebjones.spacelaunchnow.api.trantor.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class SpacecraftApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Get spacecraft detail
     * 
     * @param spacecraftId 
     * @return SpacecraftFull
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getSpacecraftApiV1SpacecraftSpacecraftIdGet(spacecraftId: kotlin.Int): HttpResponse<SpacecraftFull> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/spacecraft/{spacecraft_id}".replace("{" + "spacecraft_id" + "}", "$spacecraftId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List spacecraft
     * 
     * @param configId Filter by spacecraft config id (optional)
     * @param inSpace Filter by currently-in-space (optional)
     * @param isPlaceholder Filter by placeholder status (optional)
     * @param search Search by name (optional)
     * @param limit Number of results per page (optional, default to 25)
     * @param offset Number of results to skip (optional, default to 0)
     * @return PaginatedResponseSpacecraftSummary
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listSpacecraftApiV1SpacecraftGet(configId: kotlin.Int? = null, inSpace: kotlin.Boolean? = null, isPlaceholder: kotlin.Boolean? = null, search: kotlin.String? = null, limit: kotlin.Int? = 25, offset: kotlin.Int? = 0): HttpResponse<PaginatedResponseSpacecraftSummary> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        configId?.apply { localVariableQuery["config_id"] = listOf("$configId") }
        inSpace?.apply { localVariableQuery["in_space"] = listOf("$inSpace") }
        isPlaceholder?.apply { localVariableQuery["is_placeholder"] = listOf("$isPlaceholder") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/spacecraft",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
